.title-container {
  height: 90px;
  display: flex;
  align-items: center;
  justify-content: space-between;
}
.navigate-back {
  height: 20px;
  margin: 0 20px;
  cursor: pointer;
}
.title {
  font-size: 20px;
  font-family: "GillSans", Helvetica, Arial, serif;
}
.no-notification-container {
  text-align: center;
}
.no-notification-image {
  width: 80%;
  margin-top: 30%;
}
.no-notification-content {
  font-family: "GillSans", Helvetica, Arial, serif;
  font-size: 20px;
  margin-top: 20px;
}
