.title-container {
    height: 100px;
    display: flex;
    align-items: center;
}

.navigate-back {
    height: 20px;
    margin: 0 20px;
    cursor: pointer;
}

.title {
    font-size: 20px;
    font-family: "GillSans", Helvetica, Arial, serif;
}

