<div class="row">
  <div class="col-xs-8">
    <mat-form-field appearance="outline" class="deposit-amount-input">
      <input matInput placeholder="Enter amount" [(ngModel)]="amount">
      <span matSuffix>MAX</span>
    </mat-form-field>
  </div>
  <div class="col-xs-4">
    <app-token-select (tokenSelected)="onTokenSelected($event)"></app-token-select>
  </div>
</div>

<div class="row">
  <div class="col-xs-12">
    <img src="../../../../assets/images/wallet-balance.png" class="balance-icon">
    <span class="balance-content">
      Wallet Balance: 
      <app-account-balance [selectedToken]="selectedToken"></app-account-balance>
      {{selectedToken}}
    </span>
  </div>
</div>

<div class="row">
  <div class="col-xs-12">
    <img src="../../../../assets/images/account-balance.png" class="balance-icon">
    <span class="balance-content">
      Account Balance: 
      <app-instrument-escrow-balance [instrument]="instrument" [selectedToken]="selectedToken"></app-instrument-escrow-balance>
      {{selectedToken}}
    </span>
  </div>
</div>

<div class="row">
  <div class="col-xs-12">
    <div class="deposit-button-wrapper">
      <button mat-raised-button color="primary" class="deposit-button" (click)="withdraw()">Withdraw</button>
    </div>
  </div>
</div>
