<div class="token-image-container" [ngSwitch]="token">
    <img *ngSwitchCase="'ETH'" src="../../../assets/tokens/eth.svg" class="token-image">
    <img *ngSwitchCase="'USDC'" src="../../../assets/tokens/usdc.svg" class="token-image">
    <img *ngSwitchCase="'USDT'" src="../../../assets/tokens/tusd.svg" class="token-image">
    <img *ngSwitchCase="'DAI'" src="../../../assets/tokens/dai.svg" class="token-image">
    <img *ngSwitchCase="'NUTS'" src="../../../assets/tokens/nuts.png" class="token-image">
</div>