.title-container {
    display: flex;
    align-items: center;
    margin-top: 10px;
  }
  
  .title-image {
    width: 18px;
    height: 28px;
    margin: 0 10px;
  }
  
  .title-content {
    font-family: "GillSans", Helvetica, Arial, serif;
    font-size: 20px;
    margin: 0;
  }
  
  .action-button {
    width: 150px;
    margin: 15px 0;
  }
  
  .content-container {
    font-size: 16px;
  }
  