<div class="title-container">
    <img src="../../../../assets/images/transaction-initiated.png" class="title-image">
    <p class="title-content" [ngSwitch]="data.type">
        <span *ngSwitchCase="'approve'" i18n>Approval Initiated</span>
        <span *ngSwitchCase="'deposit'" i18n>Deposit Initiated</span>
        <span *ngSwitchCase="'withdraw'" i18n>Withdrawal Initiated</span>
        <span *ngSwitchCase="'create_issuance'" i18n>Offer Creation Initiated</span>
        <span *ngSwitchCase="'engage_issuance'" i18n>Engagement Initiated</span>
        <span *ngSwitchCase="'cancel_issuance'" i18n>Cancellation Initiated</span>
        <span *ngSwitchCase="'repay_issuance'" i18n>Repayment Initiated</span>
    </p>
  </div>
  <hr class="divider">
  <div mat-dialog-content class="content-container">
    <p class="content-text" [ngSwitch]="data.type">
        <span *ngSwitchCase="'approve'">
            <span i18n>Approval request for</span> <span style="color: blue">{{data.fspName}}</span> <span i18n>to withdraw and spend</span> <span style="color: blue;">{{data.tokenName}}</span> <span i18n>has been initiated.</span>
        </span>
        <span *ngSwitchCase="'deposit'">
            <span i18n>Your deposit request for</span> <span style="color: blue;">{{data.tokenAmount | tokenValue:data.tokenName}} {{data.tokenName}}</span>  <span i18n>has been initiated.</span>
        </span>
        <span *ngSwitchCase="'withdraw'">
            <span i18n>Your withdrawal request for</span> <span style="color: blue;">{{data.tokenAmount | tokenValue:data.tokenName}} {{data.tokenName}}</span>  <span i18n>has been initiated.</span>
        </span>
        <span *ngSwitchCase="'create_issuance'">
            <span i18n>Your {data.instrument, select, lending{lending} borrowing{borrowing} swap{swap}} offer for</span> <span style="color: blue;">{{data.tokenAmount | tokenValue:data.tokenName}} {{data.tokenName}}</span> <span i18n>has been initiated.</span>
        </span>
        <span *ngSwitchCase="'engage_issuance'">
            <span i18n>Your {data.instrument, select, lending{loan} borrowing{lending} swap{swap}} request for</span> <span style="color: blue;">{{data.tokenAmount | tokenValue:data.tokenName}} {{data.tokenName}}</span> <span i18n>has been initiated.</span>
        </span>
        <span *ngSwitchCase="'cancel_issuance'">
            <span i18n>Your cancellation request for {data.instrument, select, lending{lending} borrowing{borrowing} swap{swap}} offer</span> <span style="color: blue;">{{data.issuanceId}}</span> <span i18n>has been initiated.</span>
        </span>
        <span *ngSwitchCase="'repay_issuance'">
            <span i18n>Principal and interests repayment</span> <span style="color: blue;">{{data.tokenAmount | tokenValue:data.tokenName}} {{data.tokenName}}</span> <span i18n>has been initiated.</span>
        </span>
    </p>
  </div>
  <mat-dialog-actions class="action-container" align="center">
    <button mat-stroked-button mat-dialog-close color="primary" cdkFocusInitial class="action-button" i18n>Close</button>
  </mat-dialog-actions>
  
  