<div class="title-container">
    <img src="../../../../assets/images/transaction-initiated.png" class="title-image">
    <p class="title-content" [ngSwitch]="data.type">
        <span *ngSwitchCase="'approve'">Approval Initiated</span>
        <span *ngSwitchCase="'deposit'">Deposit Initiated</span>
        <span *ngSwitchCase="'withdraw'">Withdrawal Initiated</span>
        <span *ngSwitchCase="'create_issuance'">Offer Creation Initiated</span>
        <span *ngSwitchCase="'engage_issuance'">Engagement Initiated</span>
        <span *ngSwitchCase="'cancel_issuance'">Cancellation Initiated</span>
        <span *ngSwitchCase="'repay_issuance'">Repayment Initiated</span>
    </p>
  </div>
  <hr class="divider">
  <div mat-dialog-content class="content-container">
    <p class="content-text" [ngSwitch]="data.type">
        <span *ngSwitchCase="'approve'">
            Approval request for <span style="color: blue">{{data.fspName}}</span> to withdraw and spend up to <span style="color: blue;">{{data.amount}} {{data.tokenName}}</span> has been initiated.
        </span>
        <span *ngSwitchCase="'deposit'">
            Your deposit request for <span style="color: blue;">{{data.amount}} {{data.tokenName}}</span>  has been initiated.
        </span>
        <span *ngSwitchCase="'withdraw'">
            Your withdrawal request for <span style="color: blue;">{{data.amount}} {{data.tokenName}}</span>  has been initiated.
        </span>
        <span *ngSwitchCase="'create_issuance'">
            Your lending offer for <span style="color: blue;">{{data.principalAmount}} {{data.principalTokenName}}</span> has been initiated.
        </span>
        <span *ngSwitchCase="'engage_issuance'">
            Your loan request for <span style="color: blue;">{{data.principalAmount}} {{data.principalTokenName}}</span> has been initiated.
        </span>
        <span *ngSwitchCase="'cancel_issuance'">
            Your cancellation request for lending offer <span style="color: blue;">{{data.issuanceId}}</span> has been initiated.
        </span>
        <span *ngSwitchCase="'repay_issuance'">
            Principal and interests repayment <span style="color: blue;">{{data.totalAmount}} {{data.principalTokenName}}</span> has been initiated.
        </span>
    </p>
  </div>
  <mat-dialog-actions class="action-container" align="center">
    <button mat-stroked-button mat-dialog-close color="primary" cdkFocusInitial class="action-button">Close</button>
  </mat-dialog-actions>
  
  