<mat-card class="create-card">
  <form #form="ngForm" [formGroup]="createFormGroup" (ngSubmit)="createLendingIssuance()">
    <div class="row">
      <div class="col-xs-6">
        <span class="input-label">
          <span i18n>Principal</span>
          <button mat-icon-button class="tooltip-button" type="button"
              #principalTooltip="matTooltip"
              (click)="principalTooltip.toggle()"
              matTooltip="Assets you wish to lend out."
              aria-label="Assets you wish to lend out.">
              <mat-icon class="tooltip-icon">info_outline</mat-icon>
          </button>
        </span>
      </div>
      <div class="col-xs-6 form-reset">
        <span class="reset-button" (click)="resetForm()" i18n>Reset</span>
      </div>
    </div>

    <div class="row">
      <div class="col-xs-12 field-row">
        <mat-form-field appearance="outline" class="amount-input">
          <input matInput type="number" placeholder="Amount" formControlName="principalAmount">
        </mat-form-field>
        <app-token-select [selectedToken]="principalToken" (tokenSelected)="onPrincipalTokenSelected($event)">
        </app-token-select>
      </div>
    </div>

    <div class="row">
      <div class="col-xs-12">
        <div class="error-content" *ngIf="shouldShowErrorMessage('principalAmount')">
          <div *ngIf="createFormGroup.controls['principalAmount'].errors.required" i18n>
            Please enter amount.
          </div>
          <div *ngIf="createFormGroup.controls['principalAmount'].errors.insufficientBalance">
            <span i18n>Insufficient balance.</span>
            <a class="deposit-button" routerLink="../account" [queryParams]="{ token: principalToken}" i18n>Deposit</a>
          </div>
          <div *ngIf="createFormGroup.controls['principalAmount'].errors.nonPositiveAmount" i18n>
            The amount must be positive number.
          </div>
          <div *ngIf="createFormGroup.controls['principalAmount'].errors.nonIntegerAmount" i18n>
            The amount must be integer.
          </div>
        </div>
        <div class="balance-content">
          <span i18n>Lending A/C Balance:</span>
          <app-account-balance [instrument]="'lending'" [selectedToken]="principalToken"
            (balanceUpdated)="principalTokenBalance = $event">
          </app-account-balance>
          {{principalToken}}
        </div>
      </div>
    </div>

    <div class="row">
      <div class="col-xs-12">
        <span class="input-label">
          <span i18n>Tenor</span>
          <button mat-icon-button class="tooltip-button" type="button"
              #tenorTooltip="matTooltip"
              (click)="tenorTooltip.toggle()"
              matTooltip="The length of time until the loan is due."
              aria-label="The length of time until the loan is due.">
              <mat-icon class="tooltip-icon">info_outline</mat-icon>
          </button>
        </span>
      </div>
    </div>

    <div class="row">
      <div class="col-xs-8">
        <mat-button-toggle-group class="toggle-input" [value]="createFormGroup.value['tenor']" (change)="onTenorChange($event)">
          <mat-button-toggle value="15" i8n>15D</mat-button-toggle>
          <mat-button-toggle value="30" i8n>30D</mat-button-toggle>
          <mat-button-toggle value="45" i8n>45D</mat-button-toggle>
          <mat-button-toggle value="60" i8n>60D</mat-button-toggle>
        </mat-button-toggle-group>
      </div>
    </div>

    <div class="row">
      <div class="col-xs-12">
        <span class="alternative-content" *ngIf="!showAlternativeTenor" (click)="showAlternativeTenor = true" i18n>
          Enter a different amount.
        </span>
        <mat-form-field appearance="outline" class="amount-input" *ngIf="showAlternativeTenor">
          <input matInput type="number" placeholder="2 ~ 90 Days" formControlName="tenor">
        </mat-form-field>
      </div>
    </div>

    <div class="row">
      <div class="col-xs-12">
        <div class="error-content" *ngIf="shouldShowErrorMessage('tenor')">
          <div *ngIf="createFormGroup.controls['tenor'].errors" i18n>
            Please enter a number between 2-90 days.
          </div>
        </div>
      </div>
    </div>

    <div class="row">
      <div class="col-xs-12">
        <span class="input-label">
          <span i18n>Collateral</span>
          <button mat-icon-button class="tooltip-button" type="button"
              #collateralTooltip="matTooltip"
              (click)="collateralTooltip.toggle()"
              matTooltip="Assets pledged by the Borrower in order to secure the loan."
              aria-label="Assets pledged by the Borrower in order to secure the loan.">
              <mat-icon class="tooltip-icon">info_outline</mat-icon>
          </button>
        </span>
      </div>
    </div>

    <div class="row">
      <div class="col-xs-12 field-row">
        <mat-button-toggle-group class="toggle-input narrow-toggle" [value]="createFormGroup.value['collateralRatio']"
          (change)="onCollateralRatioChange($event)">
          <mat-button-toggle value="50">50%</mat-button-toggle>
          <mat-button-toggle value="100">100%</mat-button-toggle>
          <mat-button-toggle value="150">150%</mat-button-toggle>
          <mat-button-toggle value="200">200%</mat-button-toggle>
        </mat-button-toggle-group>
        <app-token-select [selectedToken]="collateralToken" [excludedTokens]="[principalToken]" (tokenSelected)="onCollateralTokenSelected($event)">
        </app-token-select>
      </div>
    </div>

    <div class="row">
      <div class="col-xs-12">
        <span class="alternative-content" *ngIf="!showAlternativeColleral" (click)="showAlternativeColleral = true" i18n>
          Enter a different amount.
        </span>
        <mat-form-field appearance="outline" class="amount-input" *ngIf="showAlternativeColleral">
          <input matInput type="number" placeholder="50 ~ 200" formControlName="collateralRatio">
          <span matSuffix>%</span>
        </mat-form-field>
      </div>
    </div>

    <div class="row">
      <div class="col-xs-12">
        <div class="error-content" *ngIf="shouldShowErrorMessage('collateralRatio')">
          <div *ngIf="createFormGroup.controls['collateralRatio'].errors" i18n>
            Please enter a number between 50% - 200%.
          </div>
        </div>
      </div>
    </div>

    <div class="row">
      <div class="col-xs-12">
        <span class="balance-content">
          <span i18n>Projected collateral cost:</span> 
          {{ collateralValue | tokenValue:collateralToken | number: '1.0-4' }} {{collateralToken}}
        </span>
      </div>
    </div>

    <div class="row">
      <div class="col-xs-12">
        <span class="input-label">
          <span i18n>Interest</span>
          <button mat-icon-button class="tooltip-button" type="button"
              #interestTooltip="matTooltip"
              (click)="interestTooltip.toggle()"
              matTooltip="Cost of borrowing, calculated using simple interest."
              aria-label="Cost of borrowing, calculated using simple interest.">
              <mat-icon class="tooltip-icon">info_outline</mat-icon>
          </button>
        </span>
      </div>
    </div>

    <div class="row">
      <div class="col-xs-12">
        <mat-button-toggle-group class="toggle-input narrow-toggle" [value]="createFormGroup.value['interestRate']" (change)="onInterestRateChange($event)">
          <mat-button-toggle value="0.010" class="toggle-input-button">0.010</mat-button-toggle>
          <mat-button-toggle value="0.020">0.020</mat-button-toggle>
          <mat-button-toggle value="0.030">0.030</mat-button-toggle>
          <mat-button-toggle value="0.040">0.040</mat-button-toggle>
        </mat-button-toggle-group>
        <span class="hint-content">
          <span i18n>% per day</span>
        </span>
      </div>
    </div>

    <div class="row">
      <div class="col-xs-12">
        <span class="alternative-content" *ngIf="!showAlternativeInterest" (click)="showAlternativeInterest = true" i18n>
          Enter a different amount.
        </span>
        <mat-form-field appearance="outline" class="amount-input" *ngIf="showAlternativeInterest">
          <input matInput type="number" placeholder="0.010 ~ 5.000" formControlName="interestRate">
          <span matSuffix>%</span>
        </mat-form-field>
      </div>
    </div>

    <div class="row">
      <div class="col-xs-12">
        <div class="error-content" *ngIf="shouldShowErrorMessage('interestRate')">
          <div *ngIf="createFormGroup.controls['interestRate'].errors" i18n>
            Please enter a number between 0.010% ~ 5.000%.
          </div>
        </div>
      </div>
    </div>

    <div class="row">
      <div class="col-xs-12">
        <span class="balance-content" i18n>
          Projected interest cost: {{interestValue}} {{principalToken}}
        </span>
      </div>
    </div>

    <div class="row">
      <div class="col-xs-12">
        <div class="create-button-wrapper">
          <button mat-raised-button color="primary"
            [ngClass]="{'create-button': true, 'valid': createFormGroup.valid}" i18n>Create</button>
        </div>
      </div>
    </div>

  </form>
</mat-card>