$input-height: 48px;

.create-card {
  padding-top: 10px;
}

.field-row {
  display: flex;
  justify-content: space-between;
  flex-wrap: wrap;
}

.input-label {
  font-family: "GillSans", Helvetica, Arial, serif;
  font-size: 16.0px;
  color: rgba(74, 73, 74, 1.0);
  display: inline-block;
  margin-top: 20px;
}

.amount-input {
  width: 60%;
  height: 60px;
}

.error-content {
  font-family: "GillSans-Light", Helvetica, Arial, serif;
  font-size: 14px;
  color: #f44336;
}

.deposit-button {
  text-decoration: underline;
  font-weight: 600;
}

.balance-content,
.alternative-content,
.hint-content {
  font-family: "GillSans-Light", Helvetica, Arial, serif;
  font-size: 15px;
  font-weight: 300;
  color: rgba(155, 154, 155, 1.0);
}

.toggle-input {
  margin-top: 6px;
  margin-bottom: 10px;
  height: $input-height;
}

.alternative-content {
  text-decoration: underline;
  cursor: pointer;
}

.hint-content {
  display: inline-block;
  margin-left: 10px;
}

.create-button-wrapper {
  width: 100%;
  padding: 20px;
  display: flex;
  justify-content: center;
}

.create-button {
  width: 150px;
  color: white;
}

.create-button:not(.valid) {
  background-color: #9B9B9B;
}

.form-reset {
  display: flex;
  justify-content: flex-end;
}

.reset-button {
  font-family: "GillSans", Helvetica, Arial, serif;
  font-size: 16.0px;
  color: #8bc34a;
  display: inline-block;
  margin: 10px 10px 20px 0;
  cursor: pointer;
}