.dashboard-label {
  font-family: "GillSans", Helvetica, Arial, serif;
  font-size: 16px;
  color: #4a494a;
  margin: 10px;
}
.dashboard-value {
  font-family: "GillSans-light", Helvetica, Arial, serif;
  font-size: 15px;
  color: #4a494a;
  margin: 10px;
}
.balance-container {
  min-height: 500px;
}
.divider {
  margin-top: 15px;
  margin-bottom: 15px;
}
