<mat-card class="detail-card" *ngIf="issuance">
    <div class="row">
        <div class="col-xs-12 card-title">
            <img src="../../../../assets/images/navigate_back.png" class="navigate-back" (click)="navigateBack()"> Offer Details
        </div>
    </div>

    <div class="row">
        <div class="col-xs-12 detail-value detail-label">
            {{currencyService.currency}} value
        </div>
    </div>

    <div class="row detail-row">
        <div class="col-xs-3 card-label">Principal</div>

        <div class="col-xs-6">
            <div class="value-content">
                {{lendingValue}} {{lendingToken}}
            </div>
        </div>

        <div class="col-xs-3 detail-value">
            {{currencyService.getCurrencySymbol()}} {{ convertedLendingValue | async | number: '1.0-4'}}
        </div>
    </div>

    <div class="row detail-row">
        <div class="col-xs-3 card-label">Collateral</div>

        <div class="col-xs-6">
            <div class="value-row">
                <div class="value-notation">
                    required
                </div>
                <div class="value-content">
                    {{ collateralValue }} {{collateralToken}}
                </div>
            </div>
            <div class="value-row">
                <div class="value-notation">
                    ratio
                </div>
                <div class="value-content">
                    {{issuance.collateralRatio / 100}} %
                </div>
            </div>
        </div>

        <div class="col-xs-3 detail-value">
            {{currencyService.getCurrencySymbol()}} {{ convertedCollateralValue | async | number: '1.0-4' }}
        </div>
    </div>

    <div class="row detail-row">
        <div class="col-xs-3 card-label">Interest</div>

        <div class="col-xs-6">
            <div class="value-row">
                <div class="value-notation">
                    per day
                </div>
                <div class="value-content">
                    {{perDayInterestValue}} {{lendingToken}}
                </div>
            </div>
            <div class="value-row">
                <div class="value-notation">
                    total
                </div>
                <div class="value-content">
                    {{totalInterestValue}} {{lendingToken}}
                </div>
            </div>
        </div>

        <div class="col-xs-3">
            <div class="detail-value">
                {{currencyService.getCurrencySymbol()}} {{ convertedPerDayInterestValue | async | number: '1.0-4' }}
            </div>
            <div class="detail-value">
                {{currencyService.getCurrencySymbol()}} {{ convertedTotalInterestValue | async | number: '1.0-4' }}
            </div>
        </div>
    </div>

    <div class="row detail-row">
        <div class="col-xs-3 card-label">Tenor</div>

        <div class="col-xs-6">
            <div class="value-content">
                {{issuance.tenorDays}} days
            </div>
        </div>

        <div class="col-xs-2"></div>
    </div>

    <div class="row detail-row" *ngIf="issuance.engagementTimestamp">
        <div class="col-xs-3 card-label">Engaged</div>

        <div class="col-xs-6">
            <div class="value-content">
                {{issuance.engagementTimestamp * 1000 | date: 'MM-dd-yyyy'}}
            </div>
        </div>

        <div class="col-xs-2"></div>
    </div>

    <div class="row detail-row">
        <div class="col-xs-3 card-label">Due Date</div>

        <div class="col-xs-6">
            <div class="value-content">
                {{ (issuance.state <= 2? issuance.engagementDueTimestamp * 1000 : issuance.issuanceDueTimestamp * 1000) | date: 'MM-dd-yyyy'}}
            </div>
        </div>

        <div class="col-xs-2"></div>
    </div>

    <div class="row" *ngIf="issuance.state == 2 && issuance.makerAddress != nutsPlatformService.currentAccount">
        <div class="col-xs-12 action-row">
            <button mat-raised-button color="primary" [ngClass]="{'engage-button': true, 'valid': collateralTokenBalance >= collateralValue}"
                (click)="engageIssuance()">Engage</button>
        </div>
    </div>
    <div class="row" [ngStyle]="{'display': collateralTokenBalance >= 0 && collateralTokenBalance < collateralValue ? 'initial' : 'hidden'}"
        *ngIf="issuance.state == 2 && issuance.makerAddress != nutsPlatformService.currentAccount">
        <div class="col-xs-12">
            <span style="color: red;">Insufficient balance</span>
            (<span style="color: blue;"><app-instrument-escrow-balance [instrument]="'lending'" [selectedToken]="collateralToken"
                (balanceUpdated)="collateralTokenBalance = $event">
            </app-instrument-escrow-balance>
            {{collateralToken}}</span> available)
            <a class="deposit-button" routerLink="/instrument/lending/wallet">Deposit</a>
        </div>
    </div>

    <div class="row">
        <div class="col-xs-12 action-row" *ngIf="issuance.state == 3 && issuance.takerAddress == nutsPlatformService.currentAccount">
            <button mat-raised-button color="primary" [ngClass]="{'repay-button': true, 'valid': collateralTokenBalance >= lendingValue + totalInterestValue}"
                (click)="repayIssuance()">Repay</button>
        </div>
    </div>

    <div class="row" [ngStyle]="{'display': lendingTokenBalance >= 0 && collateralTokenBalance < lendingValue + totalInterestValue ? 'initial' : 'hidden'}"
        *ngIf="issuance.state == 3 && issuance.takerAddress == nutsPlatformService.currentAccount">
        <div class="col-xs-12">
            <span style="color: red;">Insufficient balance</span>
            (<span style="color: blue;"><app-instrument-escrow-balance [instrument]="'lending'" [selectedToken]="lendingToken"
                (balanceUpdated)="lendingTokenBalance = $event">
            </app-instrument-escrow-balance>
            {{lendingToken}}</span> available)
            <a class="deposit-button" routerLink="/instrument/lending/wallet">Deposit</a>
        </div>
    </div>

    <div class="row">
        <div class="col-xs-12 action-row" *ngIf="issuance.state == 2 && issuance.makerAddress == nutsPlatformService.currentAccount">
            <button mat-stroked-button color="primary" class="close-button" (click)="cancelIssuance()">Close Position</button>
        </div>
    </div>
</mat-card>
