<mat-card class="detail-card" *ngIf="issuance">
    <div class="row">
        <div class="col-xs-8 card-title">
            <img src="../../../../assets/images/navigate_back.png" class="navigate-back" (click)="navigateBack()"> Offer
            Details
        </div>
        <div class="col-xs-4 card-state" [ngStyle]="{'color':issuance.state <= 3 ? '#8bc34a' : 'grey'}">
            <span class="card-state-indicator">&#8226;</span>
            {{issuance.getIssuanceState()}}
        </div>
    </div>

    <div class="row">
        <div class="col-xs-12 detail-value detail-label">
            {{currencyService.currency}} value
        </div>
    </div>

    <div class="row detail-row">
        <div class="col-xs-3 card-label">Principal</div>

        <div class="col-xs-6">
            <div class="value-content">
                {{lendingValue}} {{lendingToken}}
            </div>
        </div>

        <div class="col-xs-3 detail-value">
            {{currencyService.getCurrencySymbol()}} {{ convertedLendingValue | async | number: '1.0-4'}}
        </div>
    </div>

    <div class="row detail-row">
        <div class="col-xs-3 card-label">Collateral</div>

        <div class="col-xs-6">
            <div class="value-row">
                <div class="value-notation">
                    required
                </div>
                <div class="value-content">
                    {{ collateralValue | number: '1.0-4' }} {{collateralToken}}
                </div>
            </div>
            <div class="value-row">
                <div class="value-notation">
                    ratio
                </div>
                <div class="value-content">
                    {{issuance.collateralRatio / 100}} %
                </div>
            </div>
        </div>

        <div class="col-xs-3 detail-value">
            {{currencyService.getCurrencySymbol()}} {{ convertedCollateralValue | async | number: '1.0-4' }}
        </div>
    </div>

    <div class="row detail-row">
        <div class="col-xs-3 card-label">Interest</div>

        <div class="col-xs-6">
            <div class="value-row">
                <div class="value-notation">
                    per day
                </div>
                <div class="value-content">
                    {{perDayInterestValue}} {{lendingToken}}
                </div>
            </div>
            <div class="value-row">
                <div class="value-notation">
                    total
                </div>
                <div class="value-content">
                    {{totalInterestValue}} {{lendingToken}}
                </div>
            </div>
        </div>

        <div class="col-xs-3">
            <div class="detail-value">
                {{currencyService.getCurrencySymbol()}} {{ convertedPerDayInterestValue | async | number: '1.0-4' }}
            </div>
            <div class="detail-value">
                {{currencyService.getCurrencySymbol()}} {{ convertedTotalInterestValue | async | number: '1.0-4' }}
            </div>
        </div>
    </div>

    <div class="row detail-row">
        <div class="col-xs-3 card-label">Tenor</div>

        <div class="col-xs-6">
            <div class="value-content">
                {{issuance.tenorDays}} days
            </div>
        </div>

        <div class="col-xs-2"></div>
    </div>

    <div class="row detail-row" *ngIf="issuance.engagementTimestamp">
        <div class="col-xs-3 card-label">Engaged</div>

        <div class="col-xs-6">
            <div class="value-content">
                {{issuance.engagementTimestamp * 1000 | date: 'MM-dd-yyyy'}}
            </div>
        </div>

        <div class="col-xs-2"></div>
    </div>

    <div class="row detail-row">
        <div class="col-xs-3 card-label">Due Date</div>

        <div class="col-xs-6">
            <div class="value-content">
                {{ (issuance.state <= 2? issuance.engagementDueTimestamp * 1000 : issuance.issuanceDueTimestamp * 1000) | date: 'MM-dd-yyyy'}}
            </div>
        </div>

        <div class="col-xs-2"></div>
    </div>

    <div class="row" *ngIf="issuance.state == 2 && issuance.makerAddress != nutsPlatformService.currentAccount">
        <div class="col-xs-12 action-row">
            <button mat-raised-button color="primary"
                [ngClass]="{'engage-button': true, 'valid': collateralTokenBalance >= collateralValue}"
                (click)="engageIssuance()">Engage</button>
        </div>
    </div>
    <div class="row" *ngIf="issuance.state == 2 && issuance.makerAddress != nutsPlatformService.currentAccount">
        <div
            [ngClass]="{'col-xs-12': true, 'hidden': collateralTokenBalance == -1 || collateralTokenBalance >= collateralValue}">
            <span style="color: red;">Insufficient balance</span>
            (<span style="color: blue;">
                <app-instrument-escrow-balance [instrument]="'lending'" [selectedToken]="collateralToken"
                    (balanceUpdated)="collateralTokenBalance = $event">
                </app-instrument-escrow-balance>
                {{collateralToken}}
            </span> available)
            <a class="deposit-button" routerLink="/instrument/lending/wallet">Deposit</a>
        </div>
    </div>

    <div class="row">
        <div class="col-xs-12 action-row"
            *ngIf="issuance.state == 3 && issuance.takerAddress == nutsPlatformService.currentAccount">
            <button mat-raised-button color="primary"
                [ngClass]="{'repay-button': true, 'valid': lendingTokenBalance >= lendingValue + totalInterestValue}"
                (click)="repayIssuance()">Repay</button>
        </div>
    </div>

    <div class="row" *ngIf="issuance.state == 3 && issuance.takerAddress == nutsPlatformService.currentAccount">
        <div
            [ngClass]="{'col-xs-12': true, 'hidden': lendingTokenBalance == -1 || lendingTokenBalance >= lendingValue + totalInterestValue}">
            <span style="color: red;">Insufficient balance</span>
            (<span style="color: blue;">
                <app-instrument-escrow-balance [instrument]="'lending'" [selectedToken]="lendingToken"
                    (balanceUpdated)="lendingTokenBalance = $event">
                </app-instrument-escrow-balance>
                {{lendingToken}}
            </span> available)
            <a class="deposit-button" routerLink="/instrument/lending/wallet">Deposit</a>
        </div>
    </div>

    <div class="row">
        <div class="col-xs-12 action-row"
            *ngIf="issuance.state == 2 && issuance.makerAddress == nutsPlatformService.currentAccount">
            <button mat-stroked-button color="primary" class="close-button" (click)="cancelIssuance()">Close
                Position</button>
        </div>
    </div>
</mat-card>

<div class="container">
    <div class="row">
        <div class="col-xs-12 transaction-title">
            Transaction History
        </div>
    </div>
</div>

<table mat-table [dataSource]="transactions" class="transaction-table">

    <!-- Action Column -->
    <ng-container matColumnDef="action">
        <th mat-header-cell *matHeaderCellDef class="transaction-header"> Action </th>
        <td mat-cell *matCellDef="let transaction" class="transaction-content">
            {{ transaction.action }}
        </td>
    </ng-container>

    <!-- From Column -->
    <ng-container matColumnDef="from">
        <th mat-header-cell *matHeaderCellDef class="transaction-header"> From </th>
        <td mat-cell *matCellDef="let transaction" class="transaction-content">
            <img src="../../../../assets/images/ac.png" alt="A/C" class="transaction-wallet" *ngIf="transaction.fromWallet == 'A/C'">
            <img src="../../../../assets/images/position.png" alt="A/C" class="transaction-wallet" *ngIf="transaction.fromWallet == 'Position'">
            ({{transaction.fromRole}}) 
        </td>
    </ng-container>

    <!-- To Column -->
    <ng-container matColumnDef="to">
        <th mat-header-cell *matHeaderCellDef class="transaction-header"> To </th>
        <td mat-cell *matCellDef="let transaction" class="transaction-content">
            <img src="../../../../assets/images/ac.png" alt="A/C" class="transaction-wallet" *ngIf="transaction.toWallet == 'A/C'">
            <img src="../../../../assets/images/position.png" alt="A/C" class="transaction-wallet" *ngIf="transaction.toWallet == 'Position'">
            ({{transaction.toRole}})
        </td>
    </ng-container>

    <!-- Amount Column -->
    <ng-container matColumnDef="amount">
        <th mat-header-cell *matHeaderCellDef class="transaction-header"> Amount </th>
        <td mat-cell *matCellDef="let transaction" class="transaction-content">
            {{transaction.amount}} {{transaction.token}}
        </td>
    </ng-container>

    <!-- Date Column -->
    <ng-container matColumnDef="date">
        <th mat-header-cell *matHeaderCellDef class="transaction-header"> Date </th>
        <td mat-cell *matCellDef="let transaction" class="transaction-content">
            <app-block-timestamp [blockNumber]="transaction.blockNumber"></app-block-timestamp>
        </td>
    </ng-container>

    <tr mat-header-row *matHeaderRowDef="columns"></tr>
    <tr mat-row *matRowDef="let row; columns: columns;"></tr>
</table>

<div class="container">
    <div class="row">
        <div class="col-xs-12 transaction-notation">
            <img src="../../../../assets/images/ac.png" alt="A/C" class="transaction-notation-wallet"> Lending A/C
            <img src="../../../../assets/images/position.png" alt="A/C" class="transaction-notation-wallet"> Lending Position
        </div>
    </div>
</div>