.detail-card {
    font-family: "GillSans", Helvetica, Arial, serif;
    color: rgba(74, 73, 74, 1.0);
    margin: 10px;
    padding: 30px 20px;
}

.navigate-back {
    height: 20px;
    margin-right: 15px;
    cursor: pointer;
}

.card-title {
    font-size: 16px;
}

.card-label {
    font-size: 15px;
    padding-right: 0;
}

.card-state {
    display: flex;
    justify-content: flex-end;
}

.card-state-indicator {
    font-size: 20px;
    margin-right: 5px;
    margin-top: -2px;
}

.detail-row {
    margin-top: 22px;
    margin-bottom: 22px;
}

.detail-label {
  margin-bottom: -10px;
  margin-top: 10px;
}

.detail-value {
    text-align: right;
    font-family: "GillSans-Light", Helvetica, Arial, serif;
    font-size: 12.0px;
    color: rgba(155, 154, 155, 1.0);
    padding-left: 0;
}

.value-row {
    display: flex;
}

.value-notation {
    display: inline-block;
    width: 40%;
    text-align: right;
    padding-right: 15px;
    color: rgba(155, 154, 155, 1.0);
    font-size: 12px;
}

.value-content {
    display: inline-block;
    width: 60%;
    text-align: left;
    position: absolute;
    right: 0;
    font-size: 12px;
}

.action-row {
    display: flex;
    justify-content: center;
}

.engage-button,
.repay-button {
    width: 180px;
    color: white;
}

.engage-button:not(.valid),
.repay-button:not(.valid) {
    background-color: #9B9B9B;
}

.close-button {
    width: 180px;
}

.deposit-button {
    float: right;
    text-decoration: underline;
}

.transaction-title {
    font-family: "GillSans", Helvetica, Arial, serif;
    font-size: 16px;
    margin: 20px 0 15px;
}

.transaction-table {
    width: 100%;
}

.transaction-header {
    font-family: "GillSans", Helvetica, Arial, serif;
    font-size: 14px;
    text-align: center;
}

.transaction-content {
    font-family: "GillSans-Light", Helvetica, Arial, serif;
    font-size: 12px;
    text-align: center;
}

.transaction-wallet {
    width: 22px;
    margin: 3px auto;
    display: block;
}

.transaction-notation-wallet {
    width: 22px;
    margin: 2px 2px 2px 10px;
    display: inline-block;
}

.transaction-notation {
    font-family: "GillSans-Light", Helvetica, Arial, serif;
    font-size: 12px;
    margin: 10px 0 60px;
    text-align: end;
}