.balance-icon {
  width: 18px;
  margin-right: 8px;
}
.balance-content {
  font-family: "GillSans-Light", Helvetica, Arial, serif;
  font-size: 16px;
  color: #9b9a9b;
}
.deposit-button-wrapper {
  width: 100%;
  padding: 20px;
  display: flex;
  justify-content: center;
}
.deposit-button {
  width: 150px;
  color: white;
}
