<div class="row">
  <div class="col-xs-8">
    <mat-form-field appearance="outline" class="deposit-amount-input">
      <input matInput placeholder="Enter amount" [(ngModel)]="amount" (change)="onAmountChange()">
      <span matSuffix (click)="amount = accountBalance">MAX</span>
      <mat-error *ngIf="showError">
        Please enter amount.
      </mat-error>
    </mat-form-field>
  </div>
  <div class="col-xs-4">
    <app-token-select (tokenSelected)="onTokenSelected($event)"></app-token-select>
  </div>
</div>

<div class="row">
  <div class="col-xs-12">
    <img src="../../../../assets/images/wallet-balance.png" class="balance-icon">
    <span class="balance-content">
      Wallet Balance: 
      <app-account-balance [selectedToken]="selectedToken" (balanceUpdated)="accountBalance = $event"></app-account-balance>
      {{selectedToken}}
    </span>
  </div>
</div>

<div class="row">
  <div class="col-xs-12">
    <img src="../../../../assets/images/account-balance.png" class="balance-icon">
    <span class="balance-content">
      Account Balance: 
      <app-instrument-escrow-balance [instrument]="instrument" [selectedToken]="selectedToken"></app-instrument-escrow-balance>
      {{selectedToken}}
    </span>
  </div>
</div>

<div class="row">
  <div class="col-xs-12">
    <div class="deposit-button-wrapper">
      <button mat-raised-button color="primary" [ngClass]="{'deposit-button': true, 'valid': amount > 0}" (click)="approve()" *ngIf="showApprove">Approve</button>
      <button mat-raised-button color="primary" [ngClass]="{'deposit-button': true, 'valid': amount > 0}" (click)="deposit()" *ngIf="!showApprove">Deposit</button>
    </div>
  </div>
</div>
