<mat-table [dataSource]="lendingIssuanceDataSource" class="issuance-table">

    <!--- Note that these columns can be defined in any order.
            The actual rendered columns are set as a property on the row definition" -->

    <!-- Principal Column -->
    <ng-container matColumnDef="principal">
        <mat-header-cell *matHeaderCellDef class="issuance-header"> Principal </mat-header-cell>
        <mat-cell *matCellDef="let issuance" class="issuance-content">
            {{issuance.lendingAmount}} {{nutsPlatformService.getTokenByAddress(issuance.lendingTokenAddress)}}
        </mat-cell>
    </ng-container>

    <!-- Collateral Column -->
    <ng-container matColumnDef="collateral">
        <mat-header-cell *matHeaderCellDef class="issuance-header"> Collateral </mat-header-cell>
        <mat-cell *matCellDef="let issuance" class="issuance-content">
            <div>required {{nutsPlatformService.getTokenByAddress(issuance.collateralTokenAddress)}}</div>
            <div>ratio {{issuance.collateralRatio / 100}} % </div>
        </mat-cell>
    </ng-container>

    <!-- Interest Column -->
    <ng-container matColumnDef="interest">
        <mat-header-cell *matHeaderCellDef class="issuance-header"> Interest </mat-header-cell>
        <mat-cell *matCellDef="let issuance" class="issuance-content">
            <div>
                per day {{issuance.lendingAmount * issuance.interestRate / 10000}} {{nutsPlatformService.getTokenByAddress(issuance.lendingTokenAddress)}}
            </div>
            <div>
                total {{issuance.lendingAmount * issuance.interestRate * issuance.tenorDays / 10000}} {{nutsPlatformService.getTokenByAddress(issuance.lendingTokenAddress)}}
            </div>
        </mat-cell>
    </ng-container>

    <!-- Tenor Column -->
    <ng-container matColumnDef="tenor">
        <mat-header-cell *matHeaderCellDef class="issuance-header"> Tenor </mat-header-cell>
        <mat-cell *matCellDef="let issuance" class="issuance-content">
            {{issuance.tenorDays}} Days
        </mat-cell>
    </ng-container>

    <ng-container matColumnDef="action">
        <mat-header-cell *matHeaderCellDef class="issuance-header"></mat-header-cell>
        <mat-cell *matCellDef="let issuance" class="issuance-action">
            <button mat-button color="secondary" class="issuance-detail-button">Detail</button>
            <button mat-raised-button color="primary" class="issuance-engage-button">Engage</button>
        </mat-cell>
    </ng-container>


    <mat-header-row *matHeaderRowDef="['principal', 'collateral', 'interest', 'tenor']"></mat-header-row>
    <mat-row *matRowDef="let row; columns: ['principal', 'collateral', 'interest', 'tenor'];"
        class="issuance-content-row"></mat-row>>
    <mat-row *matRowDef="let row; columns: ['action']; when: isActionRow" class="issuance-action-row"></mat-row>>
</mat-table>