<mat-list role="list">
    <mat-list-item role="listitem" (click)="selectToken('ETH')" *ngIf="!isTokenExcluded('ETH')">
      <img src="../../../assets/tokens/eth.svg" class="token-image">
      <span class="token-name">ETH</span>
    </mat-list-item>
    <mat-list-item role="listitem" (click)="selectToken('USDC')" *ngIf="!isTokenExcluded('USDC')">
        <img src="../../../assets/tokens/usdc.svg" class="token-image">
        <span class="token-name">USDC</span>
    </mat-list-item>
    <mat-list-item role="listitem" (click)="selectToken('USDT')" *ngIf="!isTokenExcluded('USDT')">
        <img src="../../../assets/tokens/tusd.svg" class="token-image">
        <span class="token-name">USDT</span>
    </mat-list-item>
    <mat-list-item role="listitem" (click)="selectToken('DAI')" *ngIf="!isTokenExcluded('DAI')">
        <img src="../../../assets/tokens/dai.svg" class="token-image">
        <span class="token-name">DAI</span>
    </mat-list-item>
    <mat-list-item role="listitem" (click)="selectToken('NUTS')" *ngIf="!isTokenExcluded('NUTS')">
        <img src="../../../assets/tokens/nuts.png" class="token-image">
        <span class="token-name">NUTS</span>
    </mat-list-item>
</mat-list>
