<div *ngIf="account" class="network-toolbar" [ngSwitch]="network">
    <div class="network-content" *ngSwitchCase="'1'">
    </div>
    <div class="network-content info" *ngSwitchCase="'4'" i18n>
        You are currently connected to the Rinkeby Network.
    </div>
    <div class="network-content info" *ngSwitchCase="'42'" i18n>
        You are currently connected to the Kovan Network.
    </div>
    <div class="network-content warning" *ngSwitchDefault i18n>
        You are connected to an unsupported network({{network}}).
    </div>
</div>
<div *ngIf="!account" class="network-toolbar offline">
    <div class="network-content">
        <span i18n>You're offline.</span> <a (click)="reconnect()" i18n>Connect Metamask wallet.</a>
    </div>
</div>