<div *ngIf="network > 1" class="network-toolbar">
    <span class="network-content">
        You are currently connected to the
        <span [ngSwitch]="network">
            <span *ngSwitchCase="3">Ropsten Network.</span>
            <span *ngSwitchCase="4">Rinkeby Network.</span>
            <span *ngSwitchCase="42">Kovan Network.</span>
            <span *ngSwitchCase="5777">Development Network.</span>
            <span *ngSwitchDefault>Uknown Network.</span>
        </span>
    </span>
</div>
