<mat-accordion>

    <mat-expansion-panel>
      <mat-expansion-panel-header>
        Deposit
      </mat-expansion-panel-header>

      <app-wallet-deposit></app-wallet-deposit>

    </mat-expansion-panel>

    <mat-expansion-panel>
      <mat-expansion-panel-header>
        Withdraw
      </mat-expansion-panel-header>

      <app-wallet-withdraw></app-wallet-withdraw>

    </mat-expansion-panel>

    <mat-expansion-panel>
      <mat-expansion-panel-header>
        Transactions
      </mat-expansion-panel-header>

      <app-wallet-transaction></app-wallet-transaction>

    </mat-expansion-panel>

  </mat-accordion>
