<div class="no-issuance-container" *ngIf="issuances.length == 0">
    <img src="../../../../assets/images/no-issuance.png" class="no-issuance-image"/>
    <p class="no-issuance-title">There are currently no available offers.</p>
    <p class="no-issuance-content">Click here to create an offer.</p>
    <button mat-raised-button color="primary" class="no-issuance-button" routerLink="/instrument/swap/create">Create</button>
</div>

<app-swap-card *ngFor="let issuance of issuances" [issuance]="issuance"></app-swap-card>