<app-account-address></app-account-address>
<div class="tab-group">
  <a class="tab-label" routerLink="/instrument/lending/wallet" routerLinkActive="selected">Withdraw/Deposit</a>
  <a class="tab-label" routerLink="/instrument/lending/create" routerLinkActive="selected">Create</a>
  <a class="tab-label" routerLink="/instrument/lending/engage" routerLinkActive="selected">Engage</a>
  <a class="tab-label" routerLink="/instrument/lending/positions" routerLinkActive="selected">My Positions</a>
</div>

<router-outlet></router-outlet>