<app-account-address></app-account-address>
<div class="tab-group">
  <div [ngClass]="{'tab-label': true, 'selected': selectedTab == 'wallet'}" (click)="selectTab('wallet')">Withdraw/Deposit</div>
  <div [ngClass]="{'tab-label': true, 'selected': selectedTab == 'create'}" (click)="selectTab('create')">Create</div>
  <div [ngClass]="{'tab-label': true, 'selected': selectedTab == 'engage'}" (click)="selectTab('engage')">Engage</div>
  <div [ngClass]="{'tab-label': true, 'selected': selectedTab == 'positions'}" (click)="selectTab('positions')">My Positions</div>
</div>

<app-wallet [instrument]="'lending'" *ngIf="selectedTab == 'wallet'"></app-wallet>
<app-lending-create *ngIf="selectedTab == 'create'"></app-lending-create>
<app-lending-engage *ngIf="selectedTab == 'engage'"></app-lending-engage>
<app-lending-positions *ngIf="selectedTab == 'positions'"></app-lending-positions>
