.issuance-card {
  font-family: "GillSans-Light", Helvetica, Arial, serif;
  color: #4a494a;
  padding: 22px 22px 10px;
  margin-bottom: 20px;
}
.issuance-title-container {
  display: flex;
  justify-content: space-between;
  font-size: 14px;
  align-items: baseline;
  margin-bottom: 12px;
}
.issuance-state {
  font-size: 13px;
}
.issuance-card-subtitle {
  display: flex;
  margin-bottom: 15px;
}
.subtitle-container {
  display: flex;
  margin-right: 20px;
  font-size: 12px;
  align-items: center;
}
.subtitle-icon {
  display: flex;
  flex-direction: column;
  color: #9b9a9b;
  font-size: 10px;
  margin-right: 7px;
  align-items: center;
}
.subtitle-icon-image {
  width: 12px;
  height: 12px;
}
.issuance-card-content,
.more-content-container {
  display: flex;
}
.content-container {
  flex-grow: 1;
  text-align: center;
}
.content-label {
  margin-bottom: 8px;
}
.content-sublabel {
  color: #9b9a9b;
  font-size: 12px;
}
.content-value {
  font-family: "GillSans", Helvetica, Arial, serif;
  font-size: 13px;
  margin-bottom: 3px;
}
.switch-icon {
  width: 25px;
  margin-top: 15px;
}
.more-content-title {
  font-family: "GillSans-Light", Helvetica, Arial, serif;
  font-size: 12px;
  margin: 10px 0;
}
.issuance-card-actions {
  display: flex;
  justify-content: flex-end;
  margin-top: 25px;
  margin-bottom: 10px;
}
.engage-button {
  color: white;
  width: 100px;
  margin-left: 15px;
}
.close-button {
  margin-left: 15px;
}
