<app-account-address></app-account-address>
<div class="tab-group">
  <a class="tab-label" routerLink="/instrument/saving/wallet" routerLinkActive="selected">Withdraw/Deposit</a>
  <a class="tab-label" routerLink="/instrument/saving/create" routerLinkActive="selected">Create</a>
  <a class="tab-label" routerLink="/instrument/saving/engage" routerLinkActive="selected">Engage</a>
  <a class="tab-label" routerLink="/instrument/saving/positions" routerLinkActive="selected">My Positions</a>
</div>

<router-outlet></router-outlet>