<mat-card class="create-card">
    <form #form="ngForm" [formGroup]="createFormGroup" (ngSubmit)="createSwapIssuance()">
        <div class="row">
            <div class="col-xs-6">
                <span class="input-label">
                  <span i18n>Input Token</span>
                  <button mat-icon-button class="tooltip-button" type="button"
                    #inputTooltip="matTooltip"
                    (click)="inputTooltip.toggle()"
                    matTooltip="Assets you are using to exchange with."
                    aria-label="Assets you are using to exchange with.">
                    <mat-icon class="tooltip-icon">info_outline</mat-icon>
                  </button>
                </span>
            </div>
            <div class="col-xs-6 form-reset">
                <span class="reset-button" (click)="resetForm()" i18n>Reset</span>
            </div>
        </div>

        <div class="row">
            <div class="col-xs-12 field-row">
                <mat-form-field appearance="outline" class="amount-input">
                    <input matInput type="number" placeholder="Enter Amount" formControlName="inputAmount" i18n-placeholder>
                </mat-form-field>
                <app-token-select [selectedToken]="inputToken" (tokenSelected)="onInputTokenSelected($event)"></app-token-select>
            </div>
        </div>

        <div class="row">
            <div class="col-xs-12">
              <div class="error-content" *ngIf="shouldShowErrorMessage('inputAmount')">
                <div *ngIf="createFormGroup.controls['inputAmount'].errors.required" i18n>
                  Please enter amount.
                </div>
                <div *ngIf="createFormGroup.controls['inputAmount'].errors.insufficientBalance">
                  <span i18n>Insufficient balance.</span>
                  <a class="deposit-button" routerLink="../account" [queryParams]="{ token: inputToken}" i18n>Deposit</a>
                </div>
                <div *ngIf="createFormGroup.controls['inputAmount'].errors.nonPositiveAmount" i18n>
                  The amount must be positive number.
                </div>
                <div *ngIf="createFormGroup.controls['inputAmount'].errors.nonIntegerAmount" i18n>
                  The amount must be integer.
                </div>
              </div>
              <div class="balance-content">
                <span i18n>Swap A/C Balance:</span>
                <app-account-balance [instrument]="'swap'" [selectedToken]="inputToken"
                  (balanceUpdated)="inputTokenBalance = $event">
                </app-account-balance>
                {{inputToken}}
              </div>
            </div>
        </div>

        <div class="row">
            <div class="col-xs-12">
                <span class="input-label">
                  <span i18n>Output Token</span>
                  <button mat-icon-button class="tooltip-button" type="button"
                    #outputTooltip="matTooltip"
                    (click)="outputTooltip.toggle()"
                    matTooltip="Assets you are looking to exchange for. "
                    aria-label="Assets you are looking to exchange for. ">
                    <mat-icon class="tooltip-icon">info_outline</mat-icon>
                  </button>
                </span>
            </div>
        </div>

        <div class="row">
            <div class="col-xs-12 field-row">
                <mat-form-field appearance="outline" class="amount-input">
                    <input matInput type="number" placeholder="Amount" formControlName="outputAmount">
                </mat-form-field>
                <app-token-select [selectedToken]="outputToken" (tokenSelected)="onOutputTokenSelected($event)"></app-token-select>
            </div>
        </div>

        <div class="row">
            <div class="col-xs-12">
              <div class="error-content" *ngIf="shouldShowErrorMessage('outputAmount')">
                <div *ngIf="createFormGroup.controls['outputAmount'].errors.required" i18n>
                  Please enter amount.
                </div>
                <div *ngIf="createFormGroup.controls['outputAmount'].errors.nonPositiveAmount" i18n>
                  The amount must be positive number.
                </div>
                <div *ngIf="createFormGroup.controls['outputAmount'].errors.nonIntegerAmount" i18n>
                  The amount must be integer.
                </div>
              </div>
              <div class="balance-content">
                <span i18n>Exchange Rate</span>: 1 {{inputToken}} &asymp; {{(createFormGroup.controls['inputAmount'].value ? createFormGroup.controls['outputAmount'].value / createFormGroup.controls['inputAmount'].value : 0) | number: '1.0-4'}} {{outputToken}}
              </div>
            </div>
        </div>

        <div class="row">
            <div class="col-xs-12">
                <span class="input-label">
                  <span i18n>Valid for</span>
                  <button mat-icon-button class="tooltip-button" type="button"
                    #durationTooltip="matTooltip"
                    (click)="durationTooltip.toggle()"
                    matTooltip="The length of time until the swap offer expires."
                    aria-label="The length of time until the swap offer expires.">
                    <mat-icon class="tooltip-icon">info_outline</mat-icon>
                  </button>
                </span>
            </div>
        </div>

        <div class="row">
            <div class="col-xs-8">
                <mat-button-toggle-group class="tenor-input" [value]="createFormGroup.value['duration']" (change)="onTenorChange($event)">
                    <mat-button-toggle value="3" i18n>3D</mat-button-toggle>
                    <mat-button-toggle value="7" i18n>7D</mat-button-toggle>
                    <mat-button-toggle value="10" i18n>10D</mat-button-toggle>
                    <mat-button-toggle value="15" i18n>15D</mat-button-toggle>
                </mat-button-toggle-group>
            </div>
        </div>

        <div class="row">
            <div class="col-xs-12">
              <span class="alternative-content" *ngIf="!showAlternativeTenor" (click)="showAlternativeTenor = true" i18n>
                Enter a custom value
              </span>
                <mat-form-field appearance="outline" class="amount-input" *ngIf="showAlternativeTenor">
                    <input matInput type="number" placeholder="2 ~ 90 Days" formControlName="duration" i18n-placeholder>
                </mat-form-field>
            </div>
        </div>

        <div class="row">
            <div class="col-xs-12">
              <div class="error-content" *ngIf="shouldShowErrorMessage('duration')">
                <div *ngIf="createFormGroup.controls['duration'].errors" i18n>
                  Please enter a number between 2 ~ 90.
                </div>
              </div>
            </div>
          </div>

        <div class="row">
            <div class="col-xs-12">
                <div class="create-button-wrapper">
                    <button mat-raised-button color="primary"
                        [ngClass]="{'create-button': true, 'valid': createFormGroup.valid}" i18n>Create</button>
                </div>
            </div>
        </div>
    </form>
</mat-card>