.create-card {
  padding-top: 10px;
}
.field-row {
  display: flex;
  justify-content: space-between;
  flex-wrap: wrap;
}
.input-label {
  font-family: "GillSans", Helvetica, Arial, serif;
  font-size: 15px;
  color: #4a494a;
  display: inline-block;
  margin-top: 20px;
  margin-bottom: 10px;
}
.amount-input {
  width: 60%;
  height: 60px;
}
.error-content {
  font-family: "GillSans-Light", Helvetica, Arial, serif;
  font-size: 14px;
  color: #f44336;
}
.balance-content {
  font-family: "GillSans-Light", Helvetica, Arial, serif;
  font-size: 16px;
  color: #9b9a9b;
}
.tenor-input {
  margin-top: 6px;
  margin-bottom: 10px;
  height: 48px;
}
.balance-content,
.alternative-content,
.hint-content {
  font-family: "GillSans-Light", Helvetica, Arial, serif;
  font-size: 14px;
  font-weight: 300;
  color: #9b9a9b;
}
.alternative-content {
  text-decoration: underline;
  cursor: pointer;
}
.hint-content {
  display: inline-block;
  margin-left: 10px;
}
.deposit-button {
  text-decoration: underline;
  font-weight: 600;
}
.create-button-wrapper {
  width: 100%;
  padding: 20px;
  display: flex;
  justify-content: center;
}
.create-button {
  width: 150px;
  color: white;
}
.create-button:not(.valid) {
  background-color: #9b9b9b;
}
.form-reset {
  display: flex;
  justify-content: flex-end;
}
.reset-button {
  font-family: "GillSans", Helvetica, Arial, serif;
  font-size: 14px;
  color: #8bc34a;
  display: inline-block;
  margin: 10px 10px 20px 0;
  cursor: pointer;
}
