.transfer-history-container {
  margin-bottom: 60px;
}
.transfer-title {
  font-family: "GillSans", Helvetica, Arial, serif;
  font-size: 16px;
  margin: 20px 0 15px;
}
.transfer-container {
  font-family: "GillSans-light", Helvetica, Arial, serif;
  padding: 5px 10px;
  display: flex;
  align-items: center;
}
.transfer-container.odd {
  background-color: #f2f2f2;
}
.transfer-content {
  padding: 0 5px;
}
.transfer-action {
  font-size: 11px;
}
.transfer-from-to {
  display: flex;
  justify-content: space-around;
}
.transfer-amount {
  font-size: 11px;
}
.transfer-direction {
  font-size: larger;
  text-align: center;
  padding-top: 5px;
}
.transfer-wallet {
  width: 30px;
  margin: 3px auto;
  display: block;
}
.transfer-amount {
  color: blue;
  font-family: "GillSans", Helvetica, Arial, serif;
}
.transfer-date {
  font-size: 8px;
}
.transfer-divider {
  margin-top: 10px;
  margin-bottom: 10px;
}
.transfer-notation {
  display: flex;
  justify-content: flex-end;
}
.transfer-notation-image {
  height: 15px;
  margin: 2px 2px 2px 15px;
  display: inline-block;
}
