<div class="container transfer-history-container">
    <div class="row">
        <div class="col-xs-12 transfer-title" i18n>
            Transfer History
        </div>
    </div>

    <div *ngFor="let transfer of transfers; let i = index" [ngClass]="{'odd': i % 2 == 0, 'row': true, 'transfer-container': true}">
        <div class="col-xs-3 transfer-content transfer-action">{{transfer.action}}</div>
        <div class="col-xs-5 transfer-content transfer-from-to">
            <div class="transfer-from">
                <img src="../../../../assets/images/Maker_AC.png" alt="Maker A/C" class="transfer-wallet"
                    *ngIf="transfer.fromWallet == 'A/C' && transfer.fromRole == 'Maker'">
                <img src="../../../../assets/images/Maker_Position.png" alt="Maker Position" class="transfer-wallet"
                    *ngIf="transfer.fromWallet == 'Position' && transfer.fromRole == 'Maker'">
                <img src="../../../../assets/images/Taker_AC.png" alt="Taker A/C" class="transfer-wallet"
                    *ngIf="transfer.fromWallet == 'A/C' && transfer.fromRole == 'Taker'">
                <img src="../../../../assets/images/Taker_Position.png" alt="Maker Position" class="transfer-wallet"
                    *ngIf="transfer.fromWallet == 'Position' && transfer.fromRole == 'Taker'">
                <img src="../../../../assets/images/Custodian_AC.png" alt="Custodian A/C" class="transfer-wallet"
                    *ngIf="transfer.fromWallet == 'A/C' && transfer.fromRole == 'Custodian'">
                <img src="../../../../assets/images/Custodian_Position.png" alt="Custodian Position" class="transfer-wallet"
                    *ngIf="transfer.fromWallet == 'Position' && transfer.fromRole == 'Custodian'">
            </div>
            <span class="transfer-direction">⇒</span>
            <div class="transfer-to">
                <img src="../../../../assets/images/Maker_AC.png" alt="Maker A/C" class="transfer-wallet"
                    *ngIf="transfer.toWallet == 'A/C' && transfer.toRole == 'Maker'">
                <img src="../../../../assets/images/Maker_Position.png" alt="Maker Position" class="transfer-wallet"
                    *ngIf="transfer.toWallet == 'Position' && transfer.toRole == 'Maker'">
                <img src="../../../../assets/images/Taker_AC.png" alt="Taker A/C" class="transfer-wallet"
                    *ngIf="transfer.toWallet == 'A/C' && transfer.toRole == 'Taker'">
                <img src="../../../../assets/images/Taker_Position.png" alt="Maker Position" class="transfer-wallet"
                    *ngIf="transfer.toWallet == 'Position' && transfer.toRole == 'Taker'">
                <img src="../../../../assets/images/Custodian_AC.png" alt="Custodian A/C" class="transfer-wallet"
                    *ngIf="transfer.toWallet == 'A/C' && transfer.toRole == 'Custodian'">
                <img src="../../../../assets/images/Custodian_Position.png" alt="Custodian Position" class="transfer-wallet"
                    *ngIf="transfer.toWallet == 'Position' && transfer.toRole == 'Custodian'">
            </div>
        </div>
        <div class="col-xs-2 transfer-content transfer-amount">
            {{transfer.amount | tokenValue:(transfer.token) | number: '1.0-4'}} {{transfer.token}}
        </div>
        <div class="col-xs-2 transfer-content transfer-date">
            <app-block-timestamp [blockNumber]="transfer.blockNumber" [showTimestamp]="true" [align]="'right'"></app-block-timestamp>
        </div>
    </div>

    <hr class="transfer-divider"/>

    <div class="row transfer-notation">
        <img src="../../../../assets/images/AC.png" alt="A/C" class="transfer-notation-image">
        <img src="../../../../assets/images/Position.png" alt="Position" class="transfer-notation-image">
        <img src="../../../../assets/images/Maker.png" alt="Maker" class="transfer-notation-image">
        <img src="../../../../assets/images/Taker.png" alt="Taker" class="transfer-notation-image">
        <img src="../../../../assets/images/Custodian.png" alt="Custodian" class="transfer-notation-image">
    </div>
</div>