<div class="instrument-container">
  <app-wallet-address></app-wallet-address>
  <app-account-total-balance [instrument]="'borrowing'"></app-account-total-balance>
</div>
<div class="tab-group">
  <a class="tab-label" routerLink="account" routerLinkActive="selected" i18n>Funding</a>
  <a class="tab-label" routerLink="create" routerLinkActive="selected" i18n>Create</a>
  <a class="tab-label" routerLink="engage" routerLinkActive="selected" i18n>Engage</a>
  <a class="tab-label" routerLink="positions" routerLinkActive="selected" i18n>My Positions</a>
</div>

<router-outlet></router-outlet>
