<app-account-address></app-account-address>
<div class="tab-group">
  <a class="tab-label" routerLink="/instrument/borrowing/wallet" routerLinkActive="selected">Funding</a>
  <a class="tab-label" routerLink="/instrument/borrowing/create" routerLinkActive="selected">Create</a>
  <a class="tab-label" routerLink="/instrument/borrowing/engage" routerLinkActive="selected">Engage</a>
  <a class="tab-label" routerLink="/instrument/borrowing/positions" routerLinkActive="selected">My Positions</a>
</div>

<router-outlet></router-outlet>
