<div class="title-container">
    <h1 class="notifications-title">Notifications</h1>
    <button mat-icon-button aria-label="Close notification dialog" mat-dialog-close>
        <mat-icon>close</mat-icon>
    </button>
</div>
<hr class="notification-divider">
<div mat-dialog-content class="notification-container" *ngIf="notifications.length > 0">
    <div class="row notification-row" *ngFor="let notification of notifications">
        <div class="col-xs-9 notification-content">
            <div class="notification-title" [ngSwitch]="notification.category">
                <span *ngSwitchCase="'TRANSACTION_INITIATED'" class="transaction-initiated">
                    <img src="../../../assets/images/transaction-initiated.png" class="icon-image">
                    {{notification.title}}
                </span>
                <span *ngSwitchCase="'TRANSACTION_CONFIRMED'" class="transaction-confirmed">
                    <img src="../../../assets/images/transaction-confirmed.png" class="icon-image">
                    {{notification.title}}
                </span>
                <span *ngSwitchCase="'TRANSACTION_FAILED'" class="transaction-failed">
                    <img src="../../../assets/images/transaction-failed.png" class="icon-image">
                    {{notification.title}}
                </span>
                <span *ngSwitchCase="'ASSETS'" class="assets">
                    <img src="../../../assets/images/assets.png" class="icon-image">
                    {{notification.title}}
                </span>
                <span *ngSwitchCase="'EXPIRATION'" class="expiration">
                    <img src="../../../assets/images/expiration.png" class="icon-image">
                    {{notification.title}}
                </span>
                <span *ngSwitchCase="'DUE'" class="due">
                    <img src="../../../assets/images/due.png" class="icon-image">
                    {{notification.title}}
                </span>
            </div>
            <div class="notification-message">
                {{notification.message}} 
                <a [href]="getEtherscanLink(notification.transactionHash)" *ngIf="notification.transactionHash">{{getTransactionShortHash(notification.transactionHash)}}</a>
            </div>
            <div class="notification-timestamp">{{notification.creationTimestamp | timeAgo}}</div>
        </div>
        <div class="col-xs-3 notification-action" [ngSwitch]="notification.category">
            <mat-spinner *ngSwitchCase="'TRANSACTION_INITIATED'" [diameter]="25"></mat-spinner>
            <button mat-button color="primary" class="notification-button"
                *ngSwitchCase="'TRANSACTION_FAILED'" (click)="retryTransaction(notification)">
                Retry
            </button>
            <button mat-button color="primary" class="notification-button"
                *ngSwitchDefault (click)="onNotificationAction(notification)">
                {{getNotificationAction(notification)}}
            </button>
        </div>
    </div>
</div>
<div mat-dialog-content class="notification-container" *ngIf="notifications.length == 0">
    <p class="no-notifications">There are no new notifications.</p>
</div>
<mat-dialog-actions align="end" class="notification-actions">
    <button color="secondary" mat-button cdkFocusInitial *ngIf="notifications.length > 0" (click)="markAllRead()">Mark all as read</button>
    <a class="more-button" [routerLink]="['/', languageService.language, 'notification']" color="primary" mat-raised-button mat-dialog-close>More</a>
</mat-dialog-actions>

