.notification-container {
  margin-bottom: 40px;
}
.title-container {
  display: flex;
  justify-content: space-between;
  align-items: center;
}
.notifications-title {
  display: inline-block;
  font: 500 20px/32px "GillSans", Helvetica, Arial, serif;
  margin: 0;
}
.notification-divider {
  margin-top: 8px;
  margin-bottom: 8px;
}
.notification-row {
  padding-bottom: 10px;
}
.notification-content {
  padding-right: 0;
}
.notification-action {
  text-align: start;
  margin-top: 45px;
  padding: 0 10px;
}
.icon-image {
  width: 20px;
  margin-right: 10px;
}
.action-image {
  width: 95%;
}
.notification-title {
  font-size: 16px;
  padding: 10px 0 7px 0;
  font-family: "GillSans", Helvetica, Arial, serif;
}
.transaction-initiated {
  color: #aeaeb2;
}
.transaction-confirmed {
  color: #82c34d;
}
.transaction-failed {
  color: #b52a2a;
}
.assets {
  color: #0755ed;
}
.expiration {
  color: #f5a623;
}
.due {
  color: "#B52A2A";
}
.notification-timestamp {
  font-size: 14px;
  color: #aeaeb2;
}
.notification-actions {
  margin-bottom: -18px;
}
