.app-container {
  height: 100%;
  width: 100%;
}

mat-sidenav {
  width: 100%;
  background-color: white;
}

.app-toolbar {
  padding: 20px 16px;
}

.app-toolbar-icon {
  height: 28px;
  width: 31px;
}

.sidenav-toolbar {
  padding: 90px 16px;
}

.nav-list {
  margin: 15px;
}

.nav-list-item {
  padding-left: 15px;
  width: 100%;
  display: flex;
  justify-content: space-between;
}

a.nav-sublist-item {
  padding-left: 35px;
  width: 100%;
}
