<div class="app-container">

  <mat-toolbar color="primary" class="app-toolbar">
    <button mat-icon-button (click)="sidenav.open()">
      <mat-icon>menu</mat-icon>
    </button>
  </mat-toolbar>

  <mat-sidenav-container class="app-sidenav-container">
    <mat-sidenav #sidenav [mode]="over" [fixedInViewport]="true" [opened]="true">

      <mat-toolbar class="sidenav-toolbar">
          <button mat-icon-button (click)="sidenav.close()" color="primary">
            <mat-icon>close</mat-icon>
          </button>
      </mat-toolbar>

      <mat-nav-list class="nav-list">

        <a routerLink="." mat-list-item>
          <div class="nav-list-item">
            Dashboard<mat-icon class="app-nav-list-icon">chevron_right</mat-icon>
          </div>
        </a>

        <mat-divider></mat-divider>

        <a routerLink="." mat-list-item>
          <div class="nav-list-item">
            Instruments<mat-icon class="nav-list-icon">chevron_right</mat-icon>
          </div>
        </a>

        <a routerLink="." mat-list-item class="nav-sublist-item">
          Saving
        </a>

        <a routerLink="." mat-list-item class="nav-sublist-item">
          Lending
        </a>

        <a routerLink="." mat-list-item class="nav-sublist-item">
          Borrowing
        </a>

        <a routerLink="." mat-list-item class="nav-sublist-item">
          Swap
        </a>

        <mat-divider></mat-divider>

        <a routerLink="." mat-list-item>
          <div class="nav-list-item">
            Language<mat-icon class="nav-list-icon">chevron_right</mat-icon>
          </div>
        </a>

      </mat-nav-list>
    </mat-sidenav>

    <mat-sidenav-content>
      This is the body
    </mat-sidenav-content>

  </mat-sidenav-container>

</div>
