.app-container {
  height: 100%;
  width: 100%;
  padding: 10px;
}

mat-sidenav {
  width: 100%;
  background-color: white;
}

.app-toolbar {
  height: 50px;
  width: 100%;
  padding: 0 16px;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.app-toolbar-left,
.app-toolbar-right {
  display: flex;
  align-items: center;
}

.sidenav-toolbar {
  padding: 90px 16px;
}

.nav-list {
  margin: 15px;
}

.nav-list-item {
  padding-left: 15px;
  width: 100%;
  display: flex;
  justify-content: space-between;
  font-family: "GillSans", Helvetica, Arial, serif;
  font-size: 18px;
}

a.nav-sublist-item {
  padding-left: 35px;
  width: 100%;
  font-family: "GillSans-Light", Helvetica, Arial, serif;
  font-size: 18px;
}
