.title-container {
    text-align: end;
    color: #C2C2C2;
}

.content-container {
    text-align: center;
}

.welcome-content {
    font-family: "GillSans", Helvetica, Arial, serif;
    font-size: 16px;
}

.welcome-image {
    width: 80%;
    margin-bottom: 10px;
}

.action-container {
    margin-bottom: 20px;
}

.action-button {
    width: 100%;
    color: white;
    margin: 15px;
    padding: 5px;
}

.action-image {
    width: 35px;
}

.action-notation {
    font-size: 12px;
}