<div class="title-container">
    <button mat-icon-button aria-label="Close notification dialog" mat-dialog-close>
        <mat-icon>close</mat-icon>
    </button>
</div>

<div mat-dialog-content class="content-container">
    <p class="welcome-content">Welcome to dApp.Finance.</p>
    <p class="welcome-content">Start creating and discovering offers by connnecting your wallet.</p>
    <img src="../assets/images/welcome.png" alt="welcome" class="welcome-image">
</div>

<div mat-dialog-actions class="action-container">
    <button mat-raised-button color="primary" class="action-button" (click)="connectWallet()">
        <img src="../assets/images/metamask.png" alt="Metamask" class="action-image"> Connect Metamask Wallet
    </button>
    <p class="action-notation">
        By connecting your wallet, your wallet address becomes public to this dApp and you agree to NUTS Finance's <a href=".">Terms of Service Policy</a>, <a href=".">Privacy</a> and <a href=".">Cookie Policy</a>.
    </p>
</div>