<div class="title-container">
    <img src="../assets/images/transaction-failed.png" class="title-image">
    <p class="title-content">
        Wrong Network
    </p>
</div>
<hr class="divider">
<div mat-dialog-content class="content-container">
    You are connected to an unsupported network({{nutsPlatformService.currentNetwork}}). Please change your network to Mainnet, Kovan Testnet or Rinkeby Testnet.
</div>
<mat-dialog-actions class="action-container" align="center">
    <button mat-stroked-button mat-dialog-close color="primary" cdkFocusInitial class="action-button">Close</button>
</mat-dialog-actions>