.content-container {
  display: flex;
  align-items: center;
  justify-content: space-between;
  font-family: "GillSans", Helvetica, Arial, serif;
  font-size: 14px;
  color: white;
}
.content {
  margin: 0;
}
.action-button {
  padding: 0 10px;
}
