<div class="container">
    <div class="row">
        <div class="col-xs-12 title-container">
            <span class="title">Notifications</span>
            <button color="secondary" mat-button (click)="showSelect = !showSelect">{{showSelect ? 'Cancel' : 'Select'}}</button>
            <button mat-button (click)="saveNotifications()" *ngIf="showSelect">Mark as Read</button>
        </div>
    </div>

    <app-notification-row
        *ngFor="let notification of notifications"
        [notification]="notification"
        [showSelect]="showSelect"
        (statusUpdated)="onNotificationStatusUpdated($event)">
    </app-notification-row>
</div>