.app-container {
  height: 100%;
  width: 100%;
  padding: 10px;
}

mat-sidenav {
  width: 100%;
  background-color: white;
}

.app-toolbar {
  height: 70px;
  width: 100%;
  padding: 0 16px;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.app-toolbar-left,
.app-toolbar-right {
  display: flex;
  align-items: center;
}

.toolbar-logo {
  height: 28px;
}

.sidenav-toolbar {
  padding: 90px 16px;
}

.sidenav-logo {
  height: 38px;
}

.nav-list {
  margin: 15px;
}

.nav-list-item {
  padding-left: 15px;
  width: 100%;
  display: flex;
  justify-content: space-between;
  font-family: "GillSans", Helvetica, Arial, serif;
  font-size: 18px;
}

.active {
  color: #8bc34a;
}

a.nav-sublist-item {
  padding-left: 35px;
  width: 100%;
  font-family: "GillSans-Light", Helvetica, Arial, serif;
  font-size: 18px;
}

div.nav-language {
  display: flex;
  justify-content: space-between;
  min-width: 100px;
  font-family: "GillSans-Light", Helvetica, Arial, serif;
  font-size: 18px;
}

.transaction-content {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.transaction-complete-image {
  min-width: 100px;
  margin-bottom: 30px;
}

.disclaimer-icon {
  width: 40px;
}

.disclaimer-container {
  display: flex;
  align-items: center;
  justify-content: center;
}