<mat-sidenav-container class="app-sidenav-container">
    <mat-sidenav #sidenav [fixedInViewport]="true">
  
      <mat-toolbar class="sidenav-toolbar">
          <button mat-icon-button (click)="sidenav.close()" color="primary">
            <mat-icon>close</mat-icon>
          </button>
          <a [routerLink]="[languageService.language, 'instrument', 'dashboard']">
            <img src="../assets/images/logo.png" alt="logo" class="sidenav-logo">
          </a>
      </mat-toolbar>
  
      <mat-nav-list class="nav-list">
  
        <a [routerLink]="[languageService.language, 'instrument', 'dashboard']" routerLinkActive="active" [routerLinkActiveOptions]="{exact: true}" mat-list-item (click)="sidenav.close()">
          <div class="nav-list-item">
            <span i18n>Dashboard</span>
            <mat-icon class="app-nav-list-icon">chevron_right</mat-icon>
          </div>
        </a>
  
        <mat-divider></mat-divider>
  
        <mat-list-item>
          <div class="nav-list-item">
            <span i18n>Instruments</span>
            <mat-icon class="nav-list-icon">chevron_right</mat-icon>
          </div>
        </mat-list-item>
  
        <a [routerLink]="['/', languageService.language, 'instrument', 'lending']" routerLinkActive="active" mat-list-item class="nav-sublist-item" (click)="sidenav.close()">
          <span i18n>Lending</span>
        </a>
  
        <a [routerLink]="['/', languageService.language, 'instrument', 'borrowing']" routerLinkActive="active" mat-list-item class="nav-sublist-item" (click)="sidenav.close()">
          <span i18n>Borrowing</span>
        </a>
  
        <a [routerLink]="['/', languageService.language, 'instrument', 'swap']" routerLinkActive="active" mat-list-item class="nav-sublist-item" (click)="sidenav.close()">
          <span i18n>Swap</span>
        </a>
  
        <mat-divider></mat-divider>
  
        <a mat-list-item (click)="openLanguageBottomSheet()">
          <div class="nav-list-item">
            <span i18n>Language</span>
            <div class="nav-language">
              <span i8n>English</span>
              <mat-icon class="nav-list-icon">chevron_right</mat-icon>
            </div>
          </div>
        </a>
  
      </mat-nav-list>
    </mat-sidenav>
  
    <mat-sidenav-content>
      <app-network-toolbar></app-network-toolbar>
      <div class="app-toolbar">
        <div class="app-toolbar-left">
          <button mat-icon-button (click)="sidenav.open()" color="primary">
            <mat-icon class="app-toolbar-icon">menu</mat-icon>
          </button>
          <a [routerLink]="['/', languageService.language, 'instrument', 'dashboard']">
            <img src="../assets/images/logo.png" alt="logo" class="toolbar-logo">
          </a>
        </div>
        <div class="app-toolbar-right">
          <app-currency-select></app-currency-select>
          <button mat-icon-button color="primary" (click)="openNotificationDialog()">
            <mat-icon class="app-toolbar-icon" [matBadge]="unreadNotifications.length"
              [matBadgeHidden]="unreadNotifications.length == 0"
              matBadgeSize="small" 
              matBadgeColor="warn">notifications_none
            </mat-icon>
          </button>
        </div>
      </div>
      <div class="app-container">
        <router-outlet></router-outlet>
      </div>
    </mat-sidenav-content>
  
  </mat-sidenav-container>
  