<form #form="ngForm" [formGroup]="depositFormGroup" (ngSubmit)="submit()">
  <div class="row">
    <div class="col-xs-8">
      <mat-form-field appearance="outline" class="deposit-amount-input">
        <input matInput type="number" placeholder="Enter amount" formControlName="amount">
        <span matSuffix (click)="setMaxAmount()" style="color:#8bc34a;">MAX</span>
        <mat-error *ngIf="amountControl.errors && amountControl.errors.required" i18n>Please enter amount.</mat-error>
        <mat-error *ngIf="amountControl.errors && amountControl.errors.insufficientBalance" i18n>Insufficient balance.</mat-error>
        <mat-error *ngIf="amountControl.errors && amountControl.errors.nonPositiveAmount" i18n>The amount must be positive number.</mat-error>
        <mat-error *ngIf="amountControl.errors && amountControl.errors.nonIntegerAmount" i18n>The amount must be integer.</mat-error>
      </mat-form-field>
    </div>
    <div class="col-xs-4">
      <app-token-select [selectedToken]="selectedToken" (tokenSelected)="onTokenSelected($event)"></app-token-select>
    </div>
  </div>

  <div class="row">
    <div class="col-xs-12">
      <div class="balance-container">
        <img src="../../../../assets/images/wallet-balance.png" class="balance-icon">
        <span class="balance-content">
          <span i18n>Wallet Balance:</span>
          <app-wallet-balance [selectedToken]="selectedToken" (balanceUpdated)="walletBalance = $event">
          </app-wallet-balance>
          {{selectedToken}}
        </span>
      </div>
    </div>
  </div>

  <div class="row">
    <div class="col-xs-12">
      <div class="balance-container">
        <img src="../../../../assets/images/account-balance.png" class="balance-icon">
        <span class="balance-content">
          <span i18n>{instrument, select, lending {Lending} borrowing {Borrowing} swap {Swap}} A/C Balance:</span>
          <app-account-balance [instrument]="instrument" [selectedToken]="selectedToken">
          </app-account-balance>
          {{selectedToken}}
        </span>
      </div>
    </div>
  </div>

  <div class="row">
    <div class="col-xs-12">
      <div class="deposit-button-wrapper">
        <button mat-raised-button color="primary" [ngClass]="{'deposit-button': true, 'valid': showApprove || !depositFormGroup.invalid}">
          {showApprove, select, true {Enable} false {Deposit}} {{selectedToken}}
        </button>
        <button mat-icon-button class="tooltip-button" type="button"
            *ngIf="!showApprove"
            #depositTooltip="matTooltip"
            (click)="depositTooltip.toggle()"
            [matTooltip]="'Assets are secured in a non-custodial Instrument Account.'"
            aria-label="Assets are secured in a non-custodial Instrument Account.">
            <mat-icon class="tooltip-icon">info_outline</mat-icon>
        </button>
        <button mat-icon-button class="tooltip-button" type="button"
            *ngIf="showApprove"
            #approveTooltip="matTooltip"
            (click)="approveTooltip.toggle()"
            matTooltip="Approval must be granted in order to deposit ERC-20 tokens."
            aria-label="Approval must be granted in order to deposit ERC-20 tokens.">
            <mat-icon class="tooltip-icon">info_outline</mat-icon>
        </button>
      </div>
    </div>
  </div>
</form>
