.dashboard-label {
    font-family: "GillSans", Helvetica, Arial, serif;
    font-size: 16.0px;
    color: rgba(74, 73, 74, 1.0);
    display: inline-block;
    margin: 15px 10px 10px;
}

.dashboard-sublabel {
  margin: 0 10px 5px;
  font-family: "GillSans-Light", Helvetica, Arial, serif;
  font-size: 12px;
}

.positions-table {
  min-height: 200px;
}

.position-header {
  font-family: "GillSans", Helvetica, Arial, serif;
  font-size: 16px;
}

.position-content {
  font-family: "GillSans-Light", Helvetica, Arial, serif;
  font-size: 12px;
}

.position-status {
  word-break: break-all;
  min-width: 70px;
}

.position-value {
  font-size: 18px;
  padding-right: 2px;
}