<div class="row">
  <div class="col-xs-12">
    <div class="dashboard-label">
      <span i18n>Position Balance</span>
      <button mat-icon-button class="tooltip-button" #titleTooltip="matTooltip" (click)="titleTooltip.toggle()"
        matTooltip="Position Balance provides a balance sheet view of the assets stored in active positions."
        aria-label="Position Balance provides a balance sheet view of the assets stored in active positions.">
        <mat-icon class="tooltip-icon">info_outline</mat-icon>
      </button>
    </div>
  </div>
</div>

<div class="row">
  <div class="col-xs-12">
    <div class="dashboard-sublabel">
      <span class="position-value">{{activePositions.length}}</span>
      <span class="position-label" i18n> {activePositions.length, plural, =0 {active position} =1 {active position} other {active positions}}</span>
    </div>
  </div>
</div>

<div class="row">
  <div class="col-xs-6">
    <div class="dashboard-sublabel">
      <span class="position-value">{{currencyService.getCurrencySymbol()}}
        {{ convertedPayable | async | number: '1.0-4' }}
      </span>
      <span class="position-label">
        <span i18n>total payables</span>
          <button mat-icon-button class="tooltip-button" #payableTooltip="matTooltip" (click)="payableTooltip.toggle()"
            matTooltip="Amount to be repaid for active positions."
            aria-label="Amount to be repaid for active positions.">
            <mat-icon class="tooltip-icon">info_outline</mat-icon>
          </button>
        </span>
    </div>
  </div>
  <div class="col-xs-6">
    <div class="dashboard-sublabel">
      <span class="position-value">{{currencyService.getCurrencySymbol()}}
        {{ convertedReceivable | async | number: '1.0-4' }}
      </span>
      <span class="position-label">
        <span i18n>total receivables</span>
        <button mat-icon-button class="tooltip-button" #receivableTooltip="matTooltip"
          (click)="receivableTooltip.toggle()" matTooltip="Amount to be received for active positions."
          aria-label="Amount to be received for active positions.">
          <mat-icon class="tooltip-icon">info_outline</mat-icon>
        </button>
      </span>
    </div>
  </div>
</div>

<mat-table [dataSource]="dataSource" class="positions-table" *ngIf="activePositions.length > 0">

  <!-- Type Column -->
  <ng-container matColumnDef="type">
    <mat-header-cell *matHeaderCellDef class="position-header" i18n> Type </mat-header-cell>
    <mat-cell *matCellDef="let position" class="position-content">
      {{position.instrument | titlecase}}
    </mat-cell>
  </ng-container>

  <!-- Role Column -->
  <ng-container matColumnDef="role">
    <mat-header-cell *matHeaderCellDef class="position-header" i18n> Role </mat-header-cell>
    <mat-cell *matCellDef="let position" class="position-content">
      {{position.role | titlecase}}
    </mat-cell>
  </ng-container>

  <!-- Status Column -->
  <ng-container matColumnDef="status">
    <mat-header-cell *matHeaderCellDef class="position-header position-status" i18n> Status </mat-header-cell>
    <mat-cell *matCellDef="let position" class="position-content position-status">
      {{position.state}}
    </mat-cell>
  </ng-container>

  <!-- Amount Column -->
  <ng-container matColumnDef="amount">
    <mat-header-cell *matHeaderCellDef class="position-header position-amount" i18n> Amount </mat-header-cell>
    <mat-cell *matCellDef="let position" class="position-content position-amount">
      {{position.amount | tokenValue:(position.token)}} {{position.token}}
    </mat-cell>
  </ng-container>

  <!-- Action Column -->
  <ng-container matColumnDef="action">
    <mat-header-cell *matHeaderCellDef class="position-header"> </mat-header-cell>
    <mat-cell *matCellDef="let position" class="position-content position-action">
      <a mat-stroked-button color="primary" class="close-button"
        [routerLink]="['/', languageService.language, 'instrument', position.instrument, 'positions', position.issuanceId]"
        *ngIf="position.action == 'close'">
        <span i18n>Close</span>
      </a>
      <a mat-raised-button color="primary" class="repay-button"
        [routerLink]="['/', languageService.language, 'instrument', position.instrument, 'positions', position.issuanceId]"
        *ngIf="position.action == 'repay'">
        <span i18n>Repay</span>
      </a>
    </mat-cell>
  </ng-container>

  <mat-header-row *matHeaderRowDef="['type', 'role', 'status', 'amount', 'action']"></mat-header-row>
  <mat-row *matRowDef="let row; columns: ['type', 'role', 'status', 'amount', 'action'];" class="position-content-row">
  </mat-row>>
</mat-table>

<mat-paginator [pageSize]="10" hidePageSize></mat-paginator>

<div class="no-position-container" *ngIf="activePositions.length == 0" i18n>
  There are currently no active positions.
</div>