<mat-card class="detail-card" *ngIf="issuance">
    <app-instrument-detail-header [issuance]="issuance"></app-instrument-detail-header>

    <div class="row">
        <div class="col-xs-12 detail-notation-title">
            {{currencyService.currency}} <span i18n>value</span>
        </div>
    </div>

    <div class="row detail-row">
        <div class="col-xs-3 detail-label" i18n>Principal</div>

        <div class="col-xs-6 detail-value">
            <div class="detail-value-content">
                {{borrowingIssuance.borrowingamount | tokenValue:borrowingToken.tokenAddress | number: '1.0-4'}} 
                <span class="detail-value-uint">{{borrowingToken.tokenSymbol}}</span>
            </div>
        </div>

        <div class="col-xs-3 detail-notation">
            {{currencyService.getCurrencySymbol()}} {{ convertedBorrowingValue | async | number: '1.0-2'}}
        </div>
    </div>

    <div class="row detail-row">
        <div class="col-xs-3 detail-label" i18n>Collateral</div>

        <div class="col-xs-6 detail-value">
            <div class="detail-value-row">
                <div class="detail-value-label" i18n>
                    required
                </div>
                <div class="detail-value-content">
                    {{ collateralValue | tokenValue:collateralToken.tokenAddress | number: '1.0-4' }} 
                    <span class="detail-value-uint">{{collateralToken.tokenSymbol}}</span>
                </div>
            </div>
            <div class="detail-value-row">
                <div class="detail-value-label" i18n>
                    ratio
                </div>
                <div class="detail-value-content">
                    {{borrowingIssuance.collateralratio / 100}} %
                </div>
            </div>
        </div>

        <div class="col-xs-3 detail-notation">
            {{currencyService.getCurrencySymbol()}} {{ convertedCollateralValue | async | number: '1.0-2' }}
        </div>
    </div>

    <div class="row detail-row">
        <div class="col-xs-3 detail-label" i18n>Interest</div>

        <div class="col-xs-6 detail-value">
            <div class="detail-value-row">
                <div class="detail-value-label" i18n>
                    per day
                </div>
                <div class="detail-value-content">
                    {{ borrowingService.getPerDayInterest(borrowingIssuance) | tokenValue:borrowingToken.tokenAddress | number: '1.0-6' }} 
                    <span class="detail-value-uint">{{borrowingToken.tokenSymbol}}</span>
                </div>
            </div>
            <div class="detail-value-row">
                <div class="detail-value-label" i18n>
                    total
                </div>
                <div class="detail-value-content">
                    {{ (borrowingIssuance.interestamount) | tokenValue:borrowingToken.tokenAddress | number: '1.0-4' }} 
                    <span class="detail-value-uint">{{borrowingToken.tokenSymbol}}</span>
                </div>
            </div>
        </div>

        <div class="col-xs-3">
            <div class="detail-notation">
                {{currencyService.getCurrencySymbol()}} {{ convertedPerDayInterestValue | async | number: '1.0-4' }}
            </div>
            <div class="detail-notation">
                {{currencyService.getCurrencySymbol()}} {{ convertedTotalInterestValue | async | number: '1.0-2' }}
            </div>
        </div>
    </div>

    <div class="row detail-row" *ngIf="userRole != 'other'">
        <div class="col-xs-3 detail-label" i18n>Role</div>

        <div class="col-xs-6 detail-value">
            <div class="detail-value-content" i18n>
                {userRole, select, maker{maker} taker{taker}}
            </div>
        </div>

        <div class="col-xs-2"></div>
    </div>

    <div class="row detail-row">
        <div class="col-xs-3 detail-label" i18n>Tenor</div>

        <div class="col-xs-6 detail-value">
            <div class="detail-value-content">
                {{borrowingIssuance.tenordays}} 
                <span class="detail-value-uint" i18n>days</span>
            </div>
        </div>

        <div class="col-xs-2"></div>
    </div>

    <div class="row detail-row" *ngIf="issuance.engagements.length > 0">
        <div class="col-xs-3 detail-label" i18n>Engaged</div>

        <div class="col-xs-6 detail-value">
            <div class="detail-value-content">
                {{issuance.engagements[0].engagementcreationtimestamp * 1000 | date: 'MM-dd-yyyy'}}
            </div>
        </div>

        <div class="col-xs-2"></div>
    </div>

    <div class="row detail-row" *ngIf="offerState == 'Engageable' || offerState == 'Engaged'">
        <div class="col-xs-3 detail-label" i18n>Due Date</div>

        <div class="col-xs-6 detail-value">
            <div class="detail-value-content">
                {{ (offerState == 'Engageable'? issuance.issuanceduetimestamp * 1000 : issuance.engagements[0].engagementduetimestamp * 1000) | date: 'MM-dd-yyyy'}}
            </div>
        </div>

        <div class="col-xs-2"></div>
    </div>

    <div class="row" *ngIf="offerState == 'Engageable' && userRole != 'maker'">
        <div class="col-xs-12 action-row">
            <button mat-raised-button color="primary"
                [ngClass]="{'engage-button': true, 'valid': principalSufficient}"
                (click)="engageIssuance()" i18n>Engage</button>
        </div>
    </div>

    <div class="row">
        <div class="col-xs-12 action-row"
            *ngIf="offerState == 'Engaged' && userRole == 'maker'">
            <button mat-raised-button color="primary"
                [ngClass]="{'repay-button': true, 'valid': principalSufficient}"
                (click)="repayIssuance()" i18n>Repay</button>
        </div>
    </div>

    <div class="row">
        <div [ngClass]="{'col-xs-12': true, 'hidden': principalSufficient}">
            <span style="color: red;" i18n>Insufficient balance</span>
            (<span style="color: blue;">
                <app-account-balance [instrument]="'borrowing'" [tokenAddress]="borrowingToken.tokenAddress"
                    (balanceUpdated)="onPrincipalTokenBalanceUpdated($event)">
                </app-account-balance>
                {{borrowingToken}}
            </span> <span i18n>available</span>)
            <a class="deposit-button" routerLink="../../account" [queryParams]="{ tokenAddress: borrowingToken.tokenAddress}" i18n>Deposit</a>
        </div>
    </div>

    <div class="row">
        <div class="col-xs-12 action-row"
            *ngIf="offerState == 'Engageable' && userRole == 'maker'">
            <button mat-stroked-button color="primary" class="close-button" (click)="cancelIssuance()" i18n>
                Close Position
            </button>
        </div>
    </div>
</mat-card>