.detail-card {
    font-family: "GillSans", Helvetica, Arial, serif;
    color: rgba(74, 73, 74, 1.0);
    margin: 10px;
    padding: 30px 20px;
}

.detail-notation-title {
    margin-bottom: -10px;
    margin-top: 10px;
}

.detail-row {
    margin-top: 22px;
    margin-bottom: 22px;
}

.detail-label {
    font-size: 15px;
    padding-right: 0;
}

.detail-notation-title,
.detail-notation {
    text-align: right;
    font-family: "GillSans-Light", Helvetica, Arial, serif;
    font-size: 12.0px;
    color: rgba(155, 154, 155, 1.0);
    padding-left: 0;
}

.detail-value-row {
    display: flex;
}

.detail-value-label {
    display: inline-block;
    width: 40%;
    text-align: right;
    padding-right: 8px;
    color: rgba(155, 154, 155, 1.0);
    font-size: 11px;
}

.detail-value-content {
    display: inline-block;
    width: 60%;
    text-align: left;
    position: absolute;
    right: 0;
    font-size: 12px;
}

.action-row {
    display: flex;
    justify-content: center;
    margin-bottom: 10px;
}

.engage-button,
.repay-button {
    width: 180px;
    color: white;
}

.engage-button:not(.valid),
.repay-button:not(.valid) {
    background-color: #9B9B9B;
}

.close-button {
    width: 180px;
}

.deposit-button {
    float: right;
    text-decoration: underline;
}