<mat-card class="issuance-card">

    <app-instrument-card-header
        [instrumentName]="'lending'"
        [issuance]="issuance">
    </app-instrument-card-header>
    
    <div class="issuance-card-content">
        <div class="col-xs-4 content-container">
            <div class="card-label" i18n>Principal</div>
            <div class="card-sublabel" i18n>lending</div>
            <div class="card-value">
                {{lendingIssuance.lendingamount | tokenValue:lendingToken.tokenAddress | number: '1.0-4'}} 
                <span class="card-value-uint">{{lendingToken.tokenSymbol}}</span>
            </div>
        </div>
        <div class="col-xs-4 content-container">
            <div class="card-label" i18n>Collateral</div>
            <div class="card-sublabel" i18n>required</div>
            <div class="card-value">
                {{ collateralValue | tokenValue:collateralToken.tokenAddress | number: '1.0-4' }} 
                <span class="card-value-uint">{{collateralToken.tokenSymbol}}</span>
            </div>
            <div class="card-sublabel" i18n>ratio</div>
            <div class="card-value">{{ lendingIssuance.collateralratio / 100 }} 
                <span class="card-value-uint">%</span>
            </div>
        </div>
        <div class="col-xs-4 content-container">
            <div class="card-label" i18n>Interest</div>
            <div class="card-sublabel" i18n>per day</div>
            <div class="card-value">
                {{ lendingService.getPerDayInterest(lendingIssuance) | tokenValue:lendingToken.tokenAddress | number: '1.0-6' }} 
                <span class="card-value-uint">{{lendingToken.tokenSymbol}}</span>
            </div>
            <div class="card-sublabel" i18n>total</div>
            <div class="card-value">
                {{ (lendingIssuance.interestamount) | tokenValue:lendingToken.tokenAddress | number: '1.0-4' }} 
                <span class="card-value-uint">{{lendingToken.tokenSymbol}}</span>
            </div>
        </div>
    </div>
    <div class="issuance-card-more-content"  *ngIf="showState == 'more'">
        <div class="more-content-title">{{currencyService.currency}} <span i18n>Value</span></div>
        <div class="more-content-container">
            <div class="col-xs-4 content-container">
                <div class="card-sublabel" i18n>lending</div>
                <div class="card-value">
                    <span class="card-value-uint">{{currencyService.getCurrencySymbol()}} </span>
                    {{ convertedLendingValue | async | number: '1.0-4' }}
                </div>
            </div>
            <div class="col-xs-4 content-container">
                <div class="card-sublabel" i18n>required</div>
                <div class="card-value">
                    <span class="card-value-uint">{{currencyService.getCurrencySymbol()}} </span>
                    {{ convertedCollateralValue | async | number: '1.0-2' }}
                </div>
                <div class="card-sublabel" i18n>ratio</div>
                <div class="card-value">{{ lendingIssuance.collateralratio / 100 }} 
                    <span class="card-value-uint">%</span>
                </div>
            </div>
            <div class="col-xs-4 content-container">
                <div class="card-sublabel" i18n>per day</div>
                <div class="card-value">
                    <span class="card-value-uint">{{currencyService.getCurrencySymbol()}} </span>
                    {{ convertedPerDayInterestValue | async | number: '1.0-2' }}
                </div>
                <div class="card-sublabel" i18n>total</div>
                <div class="card-value">
                    <span class="card-value-uint">{{currencyService.getCurrencySymbol()}} </span>
                    {{ convertedTotalInterestValue | async | number: '1.0-2' }}
                </div>
            </div>
        </div>
    </div>
    <div class="issuance-card-actions">
        <button mat-button color="secondary" class="issuance-action-button" (click)="showState = showState == 'more' ? 'less' : 'more'" i18n>{showState, select, less{Expand} more{Hide}}</button>
        <a mat-raised-button color="primary" class="issuance-action-button engage-button" 
            [routerLink]="['/', language, 'instrument', 'lending', 'positions', issuance.issuanceid]"
            *ngIf="offerState == 'Engageable' && role != 'maker'" i18n>
            Engage
        </a>
        <a mat-stroked-button color="primary" class="issuance-action-button close-button" 
            [routerLink]="['/', language, 'instrument', 'lending', 'positions', issuance.issuanceid]"
            *ngIf="offerState == 'Engageable' && role == 'maker'" i18n>
            Close Position
        </a>
        <a mat-raised-button color="primary" class="issuance-action-button engage-button" 
            [routerLink]="['/', language, 'instrument', 'lending', 'positions', issuance.issuanceid]"
            *ngIf="offerState == 'Engaged' && role == 'taker'" i18n>
            Repay
        </a>
        <a mat-stroked-button color="primary" class="issuance-action-button close-button" 
            [routerLink]="['/', language, 'instrument', 'lending', 'positions', issuance.issuanceId]"
            *ngIf="offerState != 'Engageable' && !(offerState == 'Engaged' && role == 'taker')" i18n>
            View Position
        </a>
    </div>
</mat-card>