<div [ngClass]="{'row': true, 'notification-container': true, 'read': notificationStatus == 1}">
    <div class="col-xs-2">
        <div class="notification-icon" [ngSwitch]="notification.category" *ngIf="!showSelect">
            <img *ngSwitchCase="0" src="../../../assets/images/transaction-initiated.png" class="icon-image">
            <img *ngSwitchCase="1" src="../../../assets/images/transaction-confirmed.png" class="icon-image">
            <img *ngSwitchCase="2" src="../../../assets/images/transaction-failed.png" class="icon-image">
            <img *ngSwitchCase="3" src="../../../assets/images/assets.png" class="icon-image">
            <img *ngSwitchCase="4" src="../../../assets/images/expiration.png" class="icon-image">
            <img *ngSwitchCase="5" src="../../../assets/images/due.png" class="icon-image">
        </div>
        <div class="notification-icon" *ngIf="showSelect">
            <mat-checkbox color="primary"
                [checked]="notificationStatus == 1"
                (change)="onStatusChanged($event)">
            </mat-checkbox>
        </div>
    </div>
    <div class="col-xs-7">
        <div class="notification-content">
            <div class="notification-title" [ngSwitch]="notification.category">
                <span *ngSwitchCase="0" class="transaction-initiated">{{notification.title}}</span>
                <span *ngSwitchCase="1" class="transaction-confirmed">{{notification.title}}</span>
                <span *ngSwitchCase="2" class="transaction-failed">{{notification.title}}</span>
                <span *ngSwitchCase="3" class="assets">{{notification.title}}</span>
                <span *ngSwitchCase="4" class="expiration">{{notification.title}}</span>
                <span *ngSwitchCase="5" class="due">{{notification.title}}</span>
            </div>
            <div class="notification-message">{{notification.message}} <a [href]="getEtherscanLink()" *ngIf="notification.transactionHash">{{getTransactionShortHash()}}</a></div>
            <div class="notification-timestamp">{{notification.creationTimestamp | number | timeAgo}}</div>
        </div>
    </div>
    <div class="col-xs-3">
        <div class="notification-action" [ngSwitch]="notification.category">
            <mat-spinner *ngSwitchCase="0" [diameter]="25"></mat-spinner>
            <button mat-button color="primary" class="notification-button"
                *ngSwitchCase="2" (click)="retryTransaction()">
                Retry
            </button>
            <button mat-button color="primary" class="notification-button"
                *ngSwitchDefault (click)="onNotificationAction()">
                {{getNotificationAction()}}
            </button>
        </div>
    </div>
</div>
