.notification-container {
  padding-bottom: 10px;
}
.notification-container.read {
  background-color: #f2f2f2;
}
.notification-icon {
  text-align: end;
  margin-top: 35px;
}
.notification-action {
  text-align: start;
  margin-top: 35px;
  display: flex;
  justify-content: center;
}
.icon-image {
  width: 60%;
}
.notification-title {
  font-size: 14px;
  padding: 10px 0 5px 0;
  font-family: "GillSans", Helvetica, Arial, serif;
}
.transaction-initiated {
  color: #aeaeb2;
}
.transaction-confirmed {
  color: #82c34d;
}
.transaction-failed {
  color: #b52a2a;
}
.assets {
  color: #0755ed;
}
.expiration {
  color: #f5a623;
}
.due {
  color: "#B52A2A";
}
.notification-message {
  font-size: 13px;
}
.notification-timestamp {
  font-size: 13px;
  color: #aeaeb2;
}
.notification-button {
  padding: 0;
  font-size: 15px;
}
