<div [ngClass]="{'row': true, 'notification-container': true, 'read': notificationStatus == 'READ'}">
    <div class="col-xs-2">
        <div class="notification-icon" [ngSwitch]="notification.category" *ngIf="!showSelect">
            <img *ngSwitchCase="'TRANSACTION_INITIATED'" src="../../../assets/images/transaction-initiated.png" class="icon-image">
            <img *ngSwitchCase="'TRANSACTION_CONFIRMED'" src="../../../assets/images/transaction-confirmed.png" class="icon-image">
            <img *ngSwitchCase="'TRANSACTION_FAILED'" src="../../../assets/images/transaction-failed.png" class="icon-image">
            <img *ngSwitchCase="'ASSETS'" src="../../../assets/images/assets.png" class="icon-image">
            <img *ngSwitchCase="'EXPIRATION'" src="../../../assets/images/expiration.png" class="icon-image">
            <img *ngSwitchCase="'DUE'" src="../../../assets/images/due.png" class="icon-image">
        </div>
        <div class="notification-icon" *ngIf="showSelect">
            <mat-checkbox color="primary"
                [checked]="notificationStatus == 'READ'"
                (change)="onStatusChanged($event)">
            </mat-checkbox>
        </div>
    </div>
    <div class="col-xs-7">
        <div class="notification-content">
            <div class="notification-title" [ngSwitch]="notification.category">
                <span *ngSwitchCase="'TRANSACTION_INITIATED'" class="transaction-initiated">{{notification.title}}</span>
                <span *ngSwitchCase="'TRANSACTION_CONFIRMED'" class="transaction-confirmed">{{notification.title}}</span>
                <span *ngSwitchCase="'TRANSACTION_FAILED'" class="transaction-failed">{{notification.title}}</span>
                <span *ngSwitchCase="'ASSETS'" class="assets">{{notification.title}}</span>
                <span *ngSwitchCase="'EXPIRATION'" class="expiration">{{notification.title}}</span>
                <span *ngSwitchCase="'DUE'" class="due">{{notification.title}}</span>
            </div>
            <div class="notification-message">{{notification.message}} <a [href]="getEtherscanLink()" *ngIf="notification.transactionHash">{{getTransactionShortHash()}}</a></div>
            <div class="notification-timestamp">{{notification.creationTimestamp | number | timeAgo}}</div>
        </div>
    </div>
    <div class="col-xs-3">
        <div class="notification-action" [ngSwitch]="notification.category">
            <mat-spinner *ngSwitchCase="'TRANSACTION_INITIATED'" [diameter]="25"></mat-spinner>
            <button mat-button color="primary" class="notification-button"
                *ngSwitchCase="'TRANSACTION_FAILED'" (click)="retryTransaction()">
                Retry
            </button>
            <button mat-button color="primary" class="notification-button"
                *ngSwitchDefault (click)="onNotificationAction()">
                {{getNotificationAction()}}
            </button>
        </div>
    </div>
</div>
