.deposit-amount-input {
  max-width: 100%;
}

.balance-container {
  display: flex;
  align-items: center; 
}

.balance-icon {
  width: 18px;
    margin-right: 8px;
}

.balance-content {
  font-family: "GillSans-Light", Helvetica, Arial, serif;
  font-size: 15px;
  font-weight: 300;
  color: rgba(155, 154, 155, 1.0);
}

.withdraw-button-wrapper {
  width: 100%;
  padding: 20px;
  display: flex;
  justify-content: center;
}

.withdraw-button {
  width: 150px;
  color: white;
}

.withdraw-button:not(.valid) {
  background-color: #9B9B9B;
}