/* You can add global styles to this file, and also import other style files */

@import './theme';

html, body { height: 100%; background-color: #fafafa; }
body { margin: 0; font-family: "GillSans-Light", Helvetica, Arial, serif;  }

@import '~@angular/material/theming';
$custom-typography: mat-typography-config(
  $font-family: '"GillSans", Helvetica, Arial, serif'
);

@include angular-material-typography($custom-typography);

.transaction-initiated-container {
  background-color: #AEAEB2;
}

.transaction-confirmed-container {
  background-color: #82C34D;
}

.transaction-failed-container {
  background-color: #B52A2A;
}

.assets-container {
  background-color: #0755ED;
}

.expiration-container {
  background-color: #F5A623;
}

.due-container {
  background-color: '#B52A2A';
}