/* You can add global styles to this file, and also import other style files */

@import './theme';

html, body { height: 100%; background-color: #fafafa; }
body { margin: 0; font-family: "GillSans-Light", Helvetica, Arial, serif;  }

@import '~@angular/material/theming';
$custom-typography: mat-typography-config(
  $font-family: '"GillSans", Helvetica, Arial, serif'
);

@include angular-material-typography($custom-typography);

.transaction-initiated-container {
  background-color: #AEAEB2;
}

.transaction-confirmed-container {
  background-color: #82C34D;
}

.transaction-failed-container {
  background-color: #B52A2A;
}

.assets-container {
  background-color: #0755ED;
}

.expiration-container {
  background-color: #F5A623;
}

.due-container {
  background-color: '#B52A2A';
}

.narrow-toggle .mat-button-toggle-label-content {
  padding: 0 9px !important;
}

.tooltip-icon {
  height: 21px !important;
  width: 18px !important;
  font-size: 18px !important;
}

.tooltip-button {
  height: 25px !important;
  width: 25px !important;
  font-size: 25px !important;
  line-height: 25px !important;
}

.card-label {
  font-size: 13px;
  margin-bottom: 5px;
}

.card-sublabel {
  color: rgba(155, 154, 155, 1.0);
  font-size: 12px;
}

.card-value {
  font-family: "GillSans", Helvetica, Arial, serif;
  font-size: 13px;
  margin-bottom: 3px;
}

.card-value-uint {
  color: rgba(0, 0, 0, 0.50);
}