<mat-accordion>

  <div class="deposit-warning" *ngIf="panel == 'deposit' && approveToken" i18n>
    Please enable {{approveToken}} before deposit.
  </div>
  <mat-expansion-panel [expanded]="panel == 'deposit'" (afterExpand)="panel = 'deposit'">
    <mat-expansion-panel-header>
      <div class="panel-header-wrapper">
        <img src="../../../assets/images/vertical-lines.png" class="panel-vertical-line">
        <span class="wallet-header" i18n>
          Deposit
        </span>
      </div>
    </mat-expansion-panel-header>

    <app-account-deposit [instrument]="instrument"
      [selectedToken]="token"
      [amount]="amount"
      (approveToken)="approveToken = $event">
    </app-account-deposit>

  </mat-expansion-panel>

  <mat-expansion-panel [expanded]="panel == 'withdraw'" (afterExpand)="panel = 'withdraw'">
    <mat-expansion-panel-header>
      <div class="panel-header-wrapper">
        <img src="../../../assets/images/vertical-lines.png" class="panel-vertical-line">
        <span class="wallet-header" i18n>Withdraw</span>
      </div>
    </mat-expansion-panel-header>

    <app-account-withdraw [instrument]="instrument"></app-account-withdraw>

  </mat-expansion-panel>

  <mat-expansion-panel [expanded]="panel == 'transactions'" (afterExpand)="panel = 'transactions'">
    <mat-expansion-panel-header>
      <div class="panel-header-wrapper">
        <img src="../../../assets/images/vertical-lines.png" class="panel-vertical-line">
        <span class="wallet-header" i18n>Transaction</span>
      </div>
    </mat-expansion-panel-header>

    <app-account-transaction [instrument]="instrument"
      (updatePanel)="panel = $event">
    </app-account-transaction>

  </mat-expansion-panel>

</mat-accordion>