<div class="tab-group">
  <div [ngClass]="{'tab-label': true, 'selected': selectedTab == 'all'}" (click)="selectTab('all')" i18n>
    All
  </div>
  <div [ngClass]="{'tab-label': true, 'selected': selectedTab == 'engageable'}" (click)="selectTab('engageable')" i18n>
    Engageable
  </div>
  <div [ngClass]="{'tab-label': true, 'selected': selectedTab == 'engaged'}" (click)="selectTab('engaged')" i18n>
    Engaged
  </div>
  <div [ngClass]="{'tab-label': true, 'selected': selectedTab == 'inactive'}" (click)="selectTab('inactive')" i18n>
    Inactive
  </div>
</div>

<div class="no-issuance-container" *ngIf="issuances.length == 0" [ngSwitch]="selectedTab">
  <img src="../../../../assets/images/no-issuance.png" class="no-issuance-image"/>
  <div *ngSwitchCase="'inactive'">
    <p class="no-issuance-title" i18n>There are currently no inactive positions.</p>
  </div>

  <div *ngSwitchCase="'engaged'">
    <p class="no-issuance-title" i18n>There are currently no engaged positions.</p>
    <p class="no-issuance-content" i18n>Click here to view available offers.</p>
    <button mat-raised-button color="primary" class="no-issuance-button" routerLink="../engage" i18n>Engage</button>
  </div>

  <div *ngSwitchCase="'engageable'">
    <p class="no-issuance-title" i18n>There are currently no engageable positions.</p>
    <p class="no-issuance-content" i18n>Click here to create an offer.</p>
    <button mat-raised-button color="primary" class="no-issuance-button" routerLink="../create" i18n>Create</button>
  </div>

  <div *ngSwitchCase="'all'">
    <p class="no-issuance-title" i18n>There are currently no positions.</p>
    <p class="no-issuance-content" i18n>You can create or engage an offer.</p>
    <button mat-raised-button color="primary" class="no-issuance-button" routerLink="../engage" i18n>Engage</button>
    <br/>
    <button mat-raised-button color="primary" class="no-issuance-button" routerLink="../create" i18n>Create</button>
  </div>
</div>

<app-lending-card *ngFor="let issuance of issuances" [issuance]="issuance" [id]="'position-' + issuance.issuanceid"></app-lending-card>

