<div class="tab-group">
  <div [ngClass]="{'tab-label': true, 'selected': selectedTab == 'all'}" (click)="selectTab('all')">All</div>
  <div [ngClass]="{'tab-label': true, 'selected': selectedTab == 'engageable'}" (click)="selectTab('engageable')">
    Engageable</div>
  <div [ngClass]="{'tab-label': true, 'selected': selectedTab == 'engaged'}" (click)="selectTab('engaged')">Engaged
  </div>
  <div [ngClass]="{'tab-label': true, 'selected': selectedTab == 'inactive'}" (click)="selectTab('inactive')">Inactive
  </div>
</div>

<mat-table [dataSource]="lendingIssuanceDataSource" class="issuance-table">

  <!--- Note that these columns can be defined in any order.
          The actual rendered columns are set as a property on the row definition" -->

  <!-- Position Column -->
  <ng-container matColumnDef="position">
    <mat-header-cell *matHeaderCellDef class="issuance-header"> Position </mat-header-cell>
    <mat-cell *matCellDef="let issuance" class="issuance-content"> {{issuance.issuanceId}} </mat-cell>
  </ng-container>

  <!-- Role Column -->
  <ng-container matColumnDef="role">
    <mat-header-cell *matHeaderCellDef class="issuance-header"> Role </mat-header-cell>
    <mat-cell *matCellDef="let issuance" class="issuance-content">
      {{issuance.makerAddress == currentAccount ? 'Maker' : 'Taker'}} </mat-cell>
  </ng-container>

  <!-- Status Column -->
  <ng-container matColumnDef="status">
    <mat-header-cell *matHeaderCellDef class="issuance-header"> Status </mat-header-cell>
    <mat-cell *matCellDef="let issuance" class="issuance-content"> {{issuance.getIssuanceState()}}</mat-cell>
  </ng-container>

  <!-- Amount Column -->
  <ng-container matColumnDef="amount">
    <mat-header-cell *matHeaderCellDef class="issuance-header issuance-amount"> Amount </mat-header-cell>
    <mat-cell *matCellDef="let issuance" class="issuance-content issuance-amount">
      <div>
        Principal {{nutsPlatformService.getTokenValueByAddress(issuance.lendingTokenAddress, issuance.lendingAmount)}}
        {{nutsPlatformService.getTokenNameByAddress(issuance.lendingTokenAddress)}}
      </div>
      <div *ngIf="issuance.state != 2">
        Collateral {{nutsPlatformService.getTokenValueByAddress(issuance.collateralTokenAddress, issuance.collateralAmount)}}
        {{nutsPlatformService.getTokenNameByAddress(issuance.collateralTokenAddress)}}
      </div>
      <div >
        Interest {{nutsPlatformService.getTokenValueByAddress(issuance.lendingTokenAddress, issuance.interestAmount)}}
        {{nutsPlatformService.getTokenNameByAddress(issuance.lendingTokenAddress)}}
      </div>
    </mat-cell>
  </ng-container>

  <!-- Expiry Column -->
  <ng-container matColumnDef="expiry">
    <mat-header-cell *matHeaderCellDef class="issuance-header"> Expiry </mat-header-cell>
    <mat-cell *matCellDef="let issuance" class="issuance-content">
      <div *ngIf="issuance.state == 2">{{issuance.engagementDueTimestamp * 1000 | date: 'MM-dd-yyyy'}}</div>
      <div *ngIf="issuance.state != 2">{{issuance.issuanceDueTimestamp * 1000 | date: 'MM-dd-yyyy'}}</div>
    </mat-cell>
  </ng-container>

  <ng-container matColumnDef="action">
    <mat-header-cell *matHeaderCellDef class="issuance-header"></mat-header-cell>
    <mat-cell *matCellDef="let issuance" class="issuance-action">
      <button mat-button color="secondary" class="issuance-action-button">Detail</button>
      <a mat-button color="primary" class="issuance-action-button" routerLink="/instrument/lending/{{issuance.issuanceId}}">Close</a>
    </mat-cell>
  </ng-container>


  <mat-header-row *matHeaderRowDef="['position', 'role', 'status', 'amount', 'expiry']"></mat-header-row>
  <mat-row *matRowDef="let row; columns: ['position', 'role', 'status', 'amount', 'expiry'];" class="issuance-content-row"></mat-row>>
  <mat-row *matRowDef="let row; columns: ['action']; when: isActionRow" class="issuance-action-row"></mat-row>>
</mat-table>
